<style type="text/css">

    .invite{width:606px;margin:0 auto;overflow:hidden;}
    .invite, .invite td, .invite th{border-collapse:collapse;padding:0;vertical-align:middle;}
    .invite th{font-weight:bold;font-size:16px;color:white;text-align:left;background:#f1f1f1;}
    .invite th .mailLogo{margin:-2px 5px 0 0; padding:0 0 0 20px;}
    .invite th div{height:65px;overflow:hidden;}
    .invite .borderLeft{width:4px; ; ; ; ;}
    .invite .borderRight{width:3px;border-left:1px solid #C9C9C9;border-right:1px solid #EBEBEB;background:#E9E9E9;}
    .invite h2{margin:26px 34px 16px;font-size:18px;font-weight:bold;}
    .invite p{color:#313131;display:block;font-size:14px;line-height:150%;padding:1px 34px 21px;margin:0;}
    .invite p.team, .invite p.team a{color:#999999;text-decoration:none;background-color:#f1f1f1}
    .invite p.team a:hover{color:#999999;text-decoration:underline;}
    .invite a{color:#3B5999}
</style>


<div style="background:#ECECEC;">
  <table class="invite" align="center" bgcolor="#ffffff" border="0" cellspacing="0" cellpadding="0">
    <tbody>
    <tr>

      <th width="416"><img src="http://www.wooul.com/system/cms/files/files/000/000/002/original/wooul-logo.png" class="mailLogo">&nbsp;</th>
      <th width="190"><div></div></th>
    </tr>
    <tr>
      <td colspan="2">
        <p style="margin-top:20">你好 <%=@username%>! </p>
        <p>也许是您请求了在沃银网的密码重设.您可以通过点击以下链接重设您在沃银网的密码</p>

        <p><%= link_to '修改我的密码', "http://www.wooul.com" + reset_pass_path(:email=> @username, :token => @userhash) %></p>

        <p>如果不是您发出的请求,请不要进行任何操作。</p>
        <p>如果您没有访问上面的链接并修改密码，您的沃银网密码不会被修改。</p>
        <p class="team">

          <span style="background:#ddd;height:1px;width:100%;overflow:hidden;display:block;margin:2px 0;"></span>
          沃银网：<a href="http://www.wooul.com" target="_blank">http://www.wooul.com</a><br>

          咨询qq：166706916
        </p>
      </td>
    </tr>
    <tr>
      <td colspan="4" style="vertical-align:top;line-height:5px;overflow:hidden;font-size:0;"><img src="http://www.weexing.com/images/mailer/mail_invite_bottom.png"></td>
    </tr>
    </tbody></table>
</div>


