%tr.yyy-list
  %td
    .row
      .col-xs-10.yyy-list-progress
        %h4.zyzq-h4.yyy-h4
          %button.btn.btn-primary.yyy-list-btn{:type => "button"} 月
          定期宝
          %span.yyy-list-title
            %a.a-inline{:href =>"#"}
              20140910
        .td-list.danbao
          %span
            %img{:src => image_url("main/yisheng-icons.jpg")}/
            ICBC担保
        .td-list
          %dl.dl-horizontal
            %dt 年化收益率：
            %dd 13.00%
        .td-list
          %dl.dl-horizontal
            %dt 融资金额：
            %dd ￥19000.00
        .td-list
          %dl.dl-horizontal
            %dt 借款期限：
            %dd 1个月
        .td-list
          %dl.dl-horizontal
            %dt 折让率：
            %dd 1折
      .col-xs-2.yyy-product-progress
        %ul
          %li.time-icon
            %span
              %img{:src => image_url("main/time-icon.jpg")}/
            剩余时间：30天
          %li
            %button.btn.btn-primary.btn-block{:type => "button"} 马上购入