%tr
  %td
    .row.yyy-list
      .col-xs-10.yyy-list-progress
        .yyy-transfer.zyzq-transfer
          %h4.zyzq-h4.yyy-h4
            %button.btn.btn-primary.yyy-list-btn{:type => "button"} 月
            %span.yyy-list-title 月月盈20140910
          .td-list.danbao
            %span
              %img{:src => image_url("main/yisheng-icons.jpg")}
                ICBC 担保
          .td-list
            %dl.dl-horizontal
              %dt 年化收益率：
              %dd 14.00%
          .td-list
            %dl.dl-horizontal
              %dt 融资金额：
              %dd ￥19000000.00
          .td-list
            %dl.dl-horizontal
              %dt 借款期限：
              %dd 4个月
          .td-list
            %dl.dl-horizontal
              %dt 折让率：
              %dd 1折
      .col-xs-2.yyy-product-progress
        %ul
          %li.time-icon
            %span
              %img{:src => image_url("main/time-icon.jpg")}/
            剩余时间：30天
          %li
            %a.btn.btn-primary.btn-block{:type => "button"} 马上加入

%tr
  %td
    .row.yyy-list
      .col-xs-10.yyy-list-progress
        .yyy-transfer.zyzq-transfer
          %h4.zyzq-h4.yyy-h4
            %button.btn.btn-primary.yyy-list-btn{:type => "button"} 月
            %span.yyy-list-title 月月盈20140910
          .td-list.danbao
            %span
              %img{:src => image_url("main/yisheng-icons.jpg")}
                ICBC 担保
          .td-list
            %dl.dl-horizontal
              %dt 年化收益率：
              %dd 14.00%
          .td-list
            %dl.dl-horizontal
              %dt 融资金额：
              %dd ￥19000000.00
          .td-list
            %dl.dl-horizontal
              %dt 借款期限：
              %dd 4个月
          .td-list
            %dl.dl-horizontal
              %dt 折让率：
              %dd 1折
      .col-xs-2.yyy-product-progress
        %ul
          %li.time-icon
            %span
              %img{:src => image_url("main/time-icon.jpg")}/
            剩余时间：30天
          %li
            %a.btn.btn-primary.btn-block{:type => "button"} 马上加入