%tr
  %td{:width => "200"}
    %ul.yy-zgy
      %li
        月月盈
        %span
          = obj.product.deposit_number
      %li
        %a{:href => "#"}
          %span.badge.yy-zhuan
            转
  %td
    13.5%
  %td
    $32988.95
  %td
    12个月
  %td
    %ul.yy-yszf
      %li
        %img{:src => image_url("main/indexmain7.png")}
      %li
        银盛支付
      %li
        担保
  %td
    %ul
      %li
        .progress.yy-pro
          .bar{:style => "width:60%"}
      %li
        已投资
        %span
          50%
  %td
    %ul.yy-time
      %li
        %button.btn.btn-info{:type => "button"}
          立即投标
      %li
        %span.glyphicon.glyphicon-dashboard
        %span
          11.29 15:14








