.model-box
  .head
    %h2 转让信息
  .doned-left.doned-zyxx
    %ul
      %li
        %ul.dldd.doned-zyxxgm
          %li 购买价格
          %li
            ￥<span">
            = number_with_precision(inv.resell_price, precision: 0, delimiter: ',')
      %li
        %ul.dldd
          %li 预期收益
          - profit = inv.amount * obj.remain_repayment_period * obj.annual_rate.to_i / 12 / 100
          %li
            ￥<span">
            = number_with_precision(profit, precision: 0, delimiter: ',')
      %li
        .btn.btn-primary 已转让