.auxiliary-info
  .container
    .row
      .col-xs-8
        %h1.page-header 我要投资
        %p.leading.headerp 您随时可以赎回您的投资，查询或者购买赎回资产，请前往
      .col-xs-4
        .fun-area
          %a.btn.btn-default.go-back{:href => onsale_invests_path } 转让专区
          = render "shared/balance"
#features.invests-select-area
  .container
    .row
      .col-xs-6.col-xs-6
        .select-item.panel.panel-default      
          .panel-heading
            .row
              .col-xs-4.col-md-offset-4
                %img{:src => image_url("main/invests1.png")}
            .row
              .col-xs-4.col-md-offset-4
                %img{:src => image_url("main/invests1-1.png")}
          .panel-body
            %p
              不同期限可选，满足流动性需求；
              %br
              每月返还收益，到期返还本金；
              %br
              1000元即可加入，期限内随时可赎回。
            %p.more-link
              %a.btn.btn-primary{:href => product_list_path("fixed")} 查看更多
          .panel-footer
            %strong 0
            人已经加入完成
            %strong 0
            元投资额
          %a.link-block{:href => product_list_path("fixed")}
      .col-xs-6.com-xs-6
        .select-item.panel.panel-default
          .panel-heading
            .row
              .col-xs-4.col-xs-offset-4
                %img{:src => image_url("main/invests2.png")}
            .row
              .col-xs-4.col-xs-offset-4
                %img{:src => image_url("main/invests2-1.png")}
          .panel-body
            %p
              享受小额理财乐趣；
              %br
              每月返本付息，每月都有现金流；
              %br
              50元即可加入，期限内随时可赎回。
            %p.more-link
              %a.btn.btn-primary{:href => product_list_path("month")} 查看更多
          .panel-footer
            %strong 0
            人已经加入完成
            %strong 0
            元投资额
          %a.link-block{:href => product_list_path("month")}


.security-tupow
  .container
    .bossy
      %em
      %span
  .security-identity
    .container.security-identity-container
      %ul.row.list-unstyled
        %li.col-xs-3.list-unstyled-borde
          %dl.text-center
            %dt
              %img{:src => image_url("foot/foot1.jpg")}/
            %dd 50元即可加入
        %li.col-xs-3.list-unstyled-borde
          %dl.text-center
            %dt
              %img{:src => image_url("foot/foot2.jpg")}/
            %dd 100%本息担保
        %li.col-xs-3.list-unstyled-borde
          %dl.text-center
            %dt
              %img{:src => image_url("foot/foot3.jpg")}/
            %dd 随时赎回投资
        %li.col-xs-3
          %dl.text-center
            %dt
              %img{:src => image_url("foot/foot4.jpg")}/
            %dd 服务完全免费
.invests-other-info
  .container
    = cms_snippet_content('invests-other-info')








