.auxiliary-info
  .container
    .row
      .col-md-8
        %h1.page-header 我要投资
        %p.leading.headerp 您随时可以赎回您的投资，查询或者购买赎回资产，请前往
      .col-md-4
        .fun-area
          %a.btn.btn-default.go-back{:href => onsale_invests_path } 转让专区
          = render "shared/balance"
#features.invests-select-area.scheme-white
  .container
    .row
      .col-xs-6.col-sm-6
        .select-item.panel.panel-default      
          .panel-heading
            %img{:src => "images/main/wytz1.png"}
              %p 定期宝
          .panel-body
            %p
              一次性加入，省去每天投资烦恼
              %br
              3、6、12个月，不同期限满足不同流动性需求每月返还收益，支持收益复投，到期返还本金1000元即可加入，期限内可随时赎回
            %p.more-link
              %a.btn.btn-primary{:href => product_list_path("fixed")} 查看更多
          .panel-footer
            %strong 37547
            人已经加入完成
            %strong 1234567000
            元投资额
          %a.link-block{:href => product_list_path("fixed")} 查看更多
      .col-xs-6.com-sm-6
        .select-item.panel.panel-default
          .panel-heading
            %img{:src => "images/main/wytz2.png"}
            %p 月月盈
          .panel-body
            %p
              一次性加入，省去每天投资烦恼
              %br
              3、6、12个月，不同期限满足不同流动性需求每月返还收益，支持收益复投，到期返还本金1000元即可加入，期限内可随时赎回
            %p.more-link
              %a.btn.btn-primary{:href => product_list_path("month")} 查看更多
          .panel-footer
            %strong 37580
            人已经加入完成
            %strong 1234567000
            元投资额
          %a.link-block{:href => product_list_path("month")} 查看更多
          
          

.advantage-area.scheme-shell
  .container
    .advantage-box
      %ul.row
        %li.col-md-2
          %span.glyphicon.glyphicon-check
          低门槛
        %li.col-md-3
          %span.glyphicon.glyphicon-plane
          高收益100%
        %li.col-md-2
          %span.glyphicon.glyphicon-gbp
          本息担保
        %li.col-md-2
          %span.glyphicon.glyphicon-hand-up
          随时赎回
        %li.col-md-3
          %span.glyphicon.glyphicon-ok-sign
          服务完全免费

.invests-other-info
  .container
    = cms_snippet_content('invests-other-info')








