.auxiliary-info
  .container
    .row
      .col-md-8
        %h1.page-header 我要投资 / 转让专区
      .col-md-4
        .fun-area
          %a.btn.btn-default.go-back{:href=> "/invests"} 返回投资中心
          = render "shared/balance"
.products-list-area
  .container
    .invest-list-frame
      - dict = {'fixed' => '定存宝',
                  'month' => '月月盈'}
      %table.table.table-hover
        %thead
          %tr
            %th
              名称
            %th
              实际收益率
            %th
              剩余期限
            %th
              转让价格
            %th
              剩余金额
            %th
              操作
        %tbody
          - @invests.each do |obj|
            = render 'invests/list_col_onsale', obj: obj , dict: dict
      .text-center
        .invest-pager-container
          .invest_pagination
            = will_paginate @invests, :container => false











