- content_for :javascript_includes do
  = javascript_include_tag "validate.js"
  = javascript_include_tag "signup.js"
.sign-page.row
  .col-md-6.col-sm-6.sign-area
    .sign-form-area
      .reg_frame
        .login_logo
          %img.logo_image{:src => image_url("http://alpha.wooul.com/system/cms/files/files/000/000/006/original/wooul-logo.png")}
        .login-link 
          已有帐号，
          %a{:href => "/users/sign_in"} 登录
        %ul.reg_radio.nav.nav-tabs{:role => "tablist"}
          %li.active
            %a{"data-toggle" => "tab", :href => "#phone-frame", :role => "tab"} 手机号码注册
          %li
            %a{"data-toggle" => "tab", :href => "#email-frame", :role => "tab"} 邮箱注册
        .tab-content
          #phone-frame.tab-pane.active
            = form_for(resource, :as => resource_name, html: {class: "form-signin form-horizontal", id:"reg_form_phone"}, :url => registration_path(resource_name)) do |f|
              .reg_item.form-group
                %label.col-sm-2.control-label{:for => "reg_phone"} 手机号码:
                .col-sm-6
                  %input.form-control#reg_phone{:type => "text",:autofocus => true, :name => "reg_phone", :placeholder => "请输入您的手机号码"}
                .col-sm-4
                  %button.code-btn.form-control.nosend#getcode{:disabled => "true"} 获取验证码
              .reg_error
              .reg_item.form-group
                %label.col-sm-2.control-label{:for => "reg_code"}  验证码:
                .col-sm-10.code-area
                  %input.form-control#reg_code{:type => "text",:name => "reg_code",:placeholder => "请输入手机收到的验证码"}        
                  .reg_error
              .reg_item.form-group
                %label.col-sm-2.control-label{:for => "reg_password"} 设置密码:
                .col-sm-10
                  %input.form-control#reg_password{:type => "password",:name => "reg_password", :placeholder => "请输入密码"}
              .reg_error
              .reg_item.form-group
                %label.col-sm-2.control-label{:for => "reg_password_confirm"} 确认密码:
                .col-sm-10
                  %input.form-control#reg_password_confirm{:type => "password",:name => "reg_password_confirm", :placeholder => "请重新输入密码"}
              .reg_error
              .col-sm-offset-2.col-sm-10
                %input.btn.btn-primary.btn-lg{:type => "submit",:value => "立即注册"}
          #email-frame.tab-pane
            = form_for(resource, :as => resource_name, html: {class: "form-signin form-horizontal", id:"reg_form_email"}, :url => registration_path(resource_name)) do |f|
              .reg_item.form-group
                %label.col-sm-2.control-label{:for => "reg_email"} 邮箱:
                .col-sm-10
                  %input.form-control#reg_email{:type => "text",:autofocus => true, :name => "reg_email"}
              .reg_error
              .reg_item.form-group
                %label.col-sm-2.control-label{:for => "reg_email_pass"} 设置密码:
                .col-sm-10
                  %input.form-control#reg_email_pass{:type => "password", :name => "reg_email_pass"}
              .reg_error
              .reg_item.form-group
                %label.col-sm-2.control-label{:for => "reg_email_conf"} 确认密码:
                .col-sm-10
                  %input.form-control#reg_email_conf{:type => "password", :name => "reg_email_conf"}
              .reg_error
              .col-sm-offset-2.col-sm-10
                %input.btn.btn-primary.btn-lg{:type => "submit", :value => "立即注册"}
  .col-md-6.col-sm-6.media-area
    .login-media
      %img{:src => "http://alpha.wooul.com/system/cms/files/files/000/000/005/original/wooul-sign-media.jpg"}



    -# = devise_error_messages!
    -# = f.text_field :username, class: "form-control", placeholder: "Login", :autofocus => true
    -# = f.text_field :email, class: "form-control", placeholder: "Email"
    -#= f.password_field :password, class: "form-control password_confirmation", placeholder: "Password"
    -#= f.password_field :password_confirmation, class: "form-control", placeholder: "Password confirmation"
    -#= f.submit "注册", class: "btn btn-lg btn-primary btn-block"
    -#= render "devise/shared/links"




