- content_for :javascript_includes do
  = javascript_include_tag "validate.js"
  = javascript_include_tag "signup.js"
.reg_frame.container
  %h4.reg_title
    注册沃银帐号
  %p.reg_desc
    沃银帐号必须使用有效的手机号码或者邮箱注册, 如果您已经有帐号,请直接登录
  .reg_radio
    .mradio
      %input#phonetab{:type => "radio", :name => "reg_phone", :checked => "checked"}
      %label{:for => "phonetab", :hidefocus => "true"}
        用手机号码注册
    .eradio
      %input#emailtab{:type => "radio", :name => "reg_phone"}
      %label{:for => "emailtab", :hidefocus => "true"}
        用邮箱地址注册
  #phone-frame
    = form_for(resource, :as => resource_name, html: {class: "form-signin", id:"reg_form_phone"}, :url => registration_path(resource_name)) do |f|
      .reg_item
        .dl_title
          手机号码:
        .dl_input
          %input.form-control#reg_phone{:type => "text",:autofocus => true, :name => "reg_phone"}
        %button.code-btn.nosend#getcode{:disabled => "true"}
          获取验证码
      .reg_error
      .reg_item
        .dl_title
          验证码:
        .dl_input.code-area
          %input.form-control#reg_code{:type => "text",:name => "reg_code"}
        .promo-info
          请输入手机收到的验证码。
      .reg_error
      .reg_item
        .dl_title
          设置密码:
        .dl_input
          %input.form-control#reg_password{:type => "password",:name => "reg_password"}
      .reg_error
      .reg_item
        .dl_title
          确认密码:
        .dl_input
          %input.form-control#reg_password_confirm{:type => "password",:name => "reg_password_confirm"}
      .reg_error
      %input.btn.btn-default.pull-right.submitbtn{:type => "submit",:value => "立即注册"}
  #email-frame
    = form_for(resource, :as => resource_name, html: {class: "form-signin", id:"reg_form_email"}, :url => registration_path(resource_name)) do |f|
      .reg_item
        .dl_title
          &nbsp;&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp;邮箱:
        .dl_input
          %input.form-control#reg_email{:type => "text",:autofocus => true, :name => "reg_email"}
      .reg_error
      .reg_item
        .dl_title
          设置密码:
        .dl_input
          %input.form-control#reg_email_pass{:type => "password", :name => "reg_email_pass"}
      .reg_error
      .reg_item
        .dl_title
          确认密码:
        .dl_input
          %input.form-control#reg_email_conf{:type => "password", :name => "reg_email_conf"}
      .reg_error
      %input.btn.btn-default.pull-right.submitbtn{:type => "submit", :value => "立即注册"}

    -# = devise_error_messages!
    -# = f.text_field :username, class: "form-control", placeholder: "Login", :autofocus => true
    -# = f.text_field :email, class: "form-control", placeholder: "Email"
    -#= f.password_field :password, class: "form-control password_confirmation", placeholder: "Password"
    -#= f.password_field :password_confirmation, class: "form-control", placeholder: "Password confirmation"
    -#= f.submit "注册", class: "btn btn-lg btn-primary btn-block"
    -#= render "devise/shared/links"




