ol, ul {
	list-style: none;
}
@media screen and (min-width:1200px) {
.container {
	max-width: 1000px;
}
}
.con1{
	padding-right: 0;
padding-left: 0;
	}
.abust{
	background-color:#1fb4da;
	}
.abh{
	margin:6% 0 5% 0;
	color:#fff;
	font-size:14px;
	font-family: Microsoft YaHei;
	}
.abh h3{
	font-weight:bold;
    margin-bottom: 15px;
	}
.abh p{
    margin-bottom: 5px;
	}
.con2{
	margin:1% 1% 0 1%;
  	margin-bottom:10px;
	}
.abtit{
	padding-top:2%;
	padding-bottom:3%;
	border-bottom:1px solid #cdcccc;
	}
.abtit span{
	margin-right:15px;
	}
.abtit1{
	border-bottom:0px solid #cdcccc;
	}
.abtit h1{
	color:#333;
	font-size:24px;
	font-family: Microsoft YaHei;
	margin-bottom:15px;	
	}
.abtit p{
	color:#666;
	line-height:20px;
	font-size:14px;
	font-family: Microsoft YaHei;
	letter-spacing:0.05em;	
	}
.abnav{
	margin-top:2%;
	margin-left:6%;
	width:16%;
	border:1px solid #d2d2d2;
	padding-right: 0px;
    padding-left: 0px;
	padding-top:10px;
	border-radius:4px;
	}
.abnav li{
	border-bottom:1px solid #d2d2d2;
	height:15px;
	}
.item{
	border: 0px solid #ddd;
	border-bottom:1px solid #d2d2d2;
	margin-bottom:8px;
	border-top-right-radius: 0px;
    border-top-left-radius: 0px;
	padding-top:2px;
	text-align:center;
	}
.list-group-item:first-child {
border-top-right-radius: 0;
border-top-left-radius: 0;
}
.list-group-item:last-child {
border-bottom-right-radius: 0px;
border-bottom-left-radius: 0px;
}
.ibj{
	background-color:#1fb5da;
	color:#fff;
	}
a.ibj {
color: #fff;
}
a.ibj:hover, a.ibj:focus {
background-color: #21c5ed;
}
.abu2 img{
	padding:4px 4px 4px 4px;
	border:1px solid #d2d2d2;
	}
.abu2{
	float:left;
	margin-right:4%;
	}
.ab1tit h1{
	margin-top: 0;
	color:#333;
	font-size:24px;
	font-family: Microsoft YaHei;
	margin-bottom:20px;	
	}
.ab1tit p{
	text-indent:2em;
	color:#666;
	line-height:25px;
	font-size:14px;
	font-family: Microsoft YaHei;
	margin-bottom:1%;	
	}
.media:first-child {
margin-top: 3%;
}
.abu1{
	margin-top:3%;
	padding-bottom:1%;
	border-bottom:1px solid #eee;
	}
.abu1:last-child{
	border-bottom:0px solid red;
	}
.rowchange{
	margin-right: 0px;
    margin-left: 0px;
	}
.abu3{
	margin:2% 2% 0 2%;
	}
.abu3-1{
	margin-bottom:5%;
	}
.abu3-1 h4{
	font-size:24px;
	font-family: Microsoft YaHei;
	margin-bottom:2%;
	}
.abu3-1 p{
	text-indent:2em;
	color:#666;
	line-height:25px;
	font-size:14px;
	font-family: Microsoft YaHei;
	}
.about-tit{
	padding-top:0%;
	}
.about-tit1{
	border-bottom:0px solid #cdcccc;
	}
.about-tit h1{
	color:#333;
	font-size:24px;
	font-family: Microsoft YaHei;
	margin-bottom:15px;	
	}
.about-tit p{
	color:#666;
	line-height:25px;
	font-size:14px;
	text-indent:2em;
	font-family: Microsoft YaHei;
	margin-bottom:4%;
	letter-spacing:2px;
	}
.about-firm{
	margin-left:0px;
	padding-left:0px;
	}
.about-firm li{
	color:#666;
	font-size:14px;
	line-height:25px;
	letter-spacing:2px;
	padding-left:0px;
	text-indent:0em;
	font-family: Microsoft YaHei;
	}
.about-firm span{
	font-weight:bold;
	padding-right:10px;	
	}
.about-firm ul, menu, dir {

-webkit-padding-start: 0px;
}
.ab-team{
	padding:20px 30px 40px 20px;
	margin-bottom:5%;
	background:#f1f1f1;
	border-bottom:1px solid #cdcccc;
	}
.ab-team-js{
	padding-top:20px;
	color:#666;
	font-family: Microsoft YaHei;
	letter-spacing:0.1em;
	}
.ab-team-js p{
	font-size:24px;
	}
.ab-team-js span{
	font-size:18px;
	}
.ab-team-js li{
	margin-bottom:5px;
	}
.ab-team-js1{
	color:#1fb4da;
	font-size:14px;
	padding-bottom:5px;
	padding-top:5px;
	}
.ab-expert{
	padding:20px 30px 20px 0;
	margin-bottom:5%;
	border-bottom:1px solid #cdcccc;
	}
.ab-expert-js{
	padding-top:0;
	padding-left:10px;
	color:#666;
	font-family: Microsoft YaHei;
	letter-spacing:0.1em;
	}
.ab-expert-js h1{
	font-size:24px;
	margin-top: 5px;
	font-family: Microsoft YaHei;
	}
.ab-expert-js small{
	font-size:15px;
	letter-spacing:0;
	padding-left:5px;
	}
.ab-expert-js li>.page-header{
	padding-bottom: 0px;
    margin: 0px 0 10px;
	border-bottom: 0px solid #eee;
	}
.ab-expert-js li{
	margin-bottom:5px;
	line-height:25px;
	}
.ab-news-ls{
	margin-bottom: 0px;
	border-top:0;
	border-left:0;
	border-right:0;
	padding: 15px 10px;
	}
.ab-news-ls a{
	color:#666;
	font-family: Microsoft YaHei;
	}
.ab-news-ls a:hover{
	color:#1fb4da;
	text-decoration:none;
	}
.ab-news-ls span{
	text-align:right;
	}
.ab-news-lsts{
	color:#666;
	background-color: transparent;
	}
.about-paging{
	text-align:center;
	}
.pagination>li>a, .pagination>li>span {
 border: 0px solid #ddd;
 color: #666;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
color: #666;
background-color: transparent;
}