%a.btn.btn-default{:href => securecenter_path }
  返回
%h1.page-header 更改邮箱

%p
  绑定邮箱有利于我们及时通知您在有利网的交易情况以及最新动态。
%p
  邮箱:
  %input{:type => "text"}
%p
  支付密码:
  %input{:type => "text"}
%p
  %a.btn.btn-primary
    下一步