.console-header-info
  .fun-area.pull-right
    %a.btn.btn-default{:href => securecenter_path }返回
  %h1.page-header 修改密保
- questions =[['问题一：您母亲的姓名是？', 1],['问题二：您父亲的姓名是？', 2],['问题三：您的出生地是？', 3]]
.securecenter-form-area
  .form-horizontal
    = form_for(:user, :url => securecenter_secure_change_question_path, :html => { :method => :post}) do |f|
      .form-group
        %label.col-sm-2.control-label 选择密保问题：
        .col-sm-10
          = select_tag(:safe_question, options_for_select(questions), :class => "form-control")
      .form-group
        %label.col-sm-2.control-label 回答
        .col-sm-10
          %input{:type => "text", :class => "form-control"}

      .form-group
        %label.col-sm-2.control-label 支付密码
        .col-sm-10
          %input{:type => "password", :class => "form-control"}

      .form-group
        .col-sm-offset-2.col-sm-10
          %button.btn.btn-primary{:type => "sumbit"}
            修改
