%a.btn.btn-default{:href => securecenter_path }
  返回
%h1.page-header 修改密保

%p
  选择密保问题:
  %input{:type => "select-list"}
%p
  回答:
  %input{:type => "text"}
%p
  支付密码:
  %input{:type => "password"}
%p
  %a.btn.btn-primary
    下一步