.abtitle-sub
  %h2 支付密码
  .abtitle-return
    %a.btn.btn-default.toback{:href => securecenter_path } 返回
.abuser-box.safecenterpaypsw
  .bid-opt.safecenter
    %form.forms_span
      %ul.items.row.safepaytext
        %li.txt.col-xs-2
        %li.col-xs-8
          %p
            支付密码
            %span.paypsw-open
              %span.glyphicon.glyphicon-ok
              已启用
          %p 账户资金提现、赎回时，需验证支付密码，此项不可撤销。
          %p 初始支付密码和用户登录密码相同, 请尽快修改以策安全。
      %ul.items.row
        %li.txt.col-xs-2 原支付密码：
        %li.col-xs-9
          .input-group.col-xs-6
            %input#exampleInputEmail2.form-control{:placeholder => "请输入您在沃银网的支付密码", :type => "password"}
          %span.col-xs-6{:style => "display:none;"}
            原密码不正确，请重新输入密码。
      %ul.items.row
        %li.txt.col-xs-2 新支付密码：
        %li.col-xs-9
          .input-group.col-xs-6
            %input#exampleInputEmail2.form-control{:placeholder => "请重新设置您的支付密码", :type => "password"}
          %span.col-xs-6{:style => "display:none;"}
            支付密码在6~20之间。
      %ul.items.row
        %li.txt.col-xs-2 确认新密码：
        %li.col-xs-9
          .input-group.col-xs-6
            %input#exampleInputEmail2.form-control{:placeholder => "请确认您重新设置的支付密码", :type => "password"}
          %span.col-xs-6{:style => "display:none;"}
            两次输入的密码不一致，请重新输入密码。
      %ul.items.row
        %li.txt.col-xs-2
        %li.col-xs-9
          .input-group.col-xs-6
            %button.btn.btn-primary.btn-lg.btn-block{:type => "button"}
              修改