.console-header-info
  %h1.page-header 安全中心
.securecenter-home-area
  .security-level
    %h3 您的账户安全等级：
    .progress
      .progress-bar{:role => "progressbar", "aria-valuenow" => "60", "aria-valuemin" => "0", "aria-valuemax" => "100", :style => "width:60%" }
.security-overview
  %ul.nav.nav-tabs{:role => "tablist"}
    %li.active
      %a.tab-item{"data-toggle" => "tab", :href => "#detail", :role => "tab"} 保护账户安全
    %li
      %a.tab-item{"data-toggle" => "tab", :href => "#prshd", :role => "tab"}
        保护隐私安全
  .tab-content
    #detail.tab-pane.active
      %table.table.table-striped.dqbxq-border
        %tbody
          %tr
            %td 登录密码
            %td 登录沃银网账户时需要输入的密码
            %td 启用密保问题即可修改
          %tr
            %td 实名认证
            %td 充值前，必须完成实名认证
            %td
              - if @verify.idstatus == "verified"
                已认证
              - else
                %a{:href => securecenter_secure_real_name_path}
                  认证
          %tr
            %td 绑定手机
            %td 绑定手机号码，账户资金变动实时通知
            %td
              %a{:href => securecenter_secure_change_phone_path}
                - if @verify.phonestatus == "confirming"
                  绑定
                - else
                  修改
          %tr
            %td 支付密码
            %td 支付密码已启用，默认与初始登录密码相同，请及时修改
            %td
              %a{:href => securecenter_secure_confirm_path}
                修改
          %tr
            %td 密保密码
            %td 轻松找回登录密码
            %td
              %a{:href => securecenter_secure_change_secret_path}
                - if @verify.safe_question_id == 0
                  启用
                - else
                  修改

    #prshd.tab-pane
      %table.table.dqbxq-jrjl.table-striped.dqbxq-border
        %tbody
          %tr
            %td
              身份信息
            %td
              沃银网将按照《沃银网投资咨询与管理服务协议》的相关规定来保护您的身份信息安全
            %td
              保护中
          %tr
            %td
              银行卡信息
            %td
              沃银网将按照《沃银网投资咨询与管理服务协议》的相关规定来保护您的身份信息安全
            %td
              保护中
          %tr
            %td
              手机号码
            %td
              沃银网将按照《沃银网投资咨询与管理服务协议》的相关规定来保护您的身份信息安全
            %td
              保护中



