.abtitle-sub
  %h2 实名认证
  .abtitle-return
    %a.btn.btn-default.toback{:href => securecenter_path } 返回
.abuser-box.safecenterpaypsw
  .bid-opt.safecenter
    %form.forms_span
      %ul.items.row
        %li.txt.col-xs-2 身份证号码：
        %li.col-xs-9
          .input-group.col-xs-6
            %input#exampleInputEmail2.form-control{:placeholder => "请输入您的身份证号码", :type => "text"}
          %span.col-xs-6{:style => "display:none;"}
            身份证号码为11位有效数字
      %ul.items.row
        %li.txt.col-xs-2 真实姓名：
        %li.col-xs-9
          .input-group.col-xs-6
            %input#exampleInputEmail2.form-control{:placeholder => "请输入您的真实姓名", :type => "text"}
          %span.col-xs-6{:style => "display:none;"}
            支付密码在6~20之间。
      %ul.items.row
        %li.txt.col-xs-2
        %li.col-xs-9
          .input-group.col-xs-6
            %button.btn.btn-primary.btn-lg.btn-block{:type => "button"}
              验证