.abtitle-sub
  %h2 消息详情
  .abtitle-return
    %a.btn.btn-default.toback{:href => "#", :role => "button"} 返回
.abuser-box.newdetails-post
  %h4 投资成功
  %p
    您已成功加入定存宝
    %span.light-org DCB14091203
    项目
    %span.light-org 1,000
    元，该部分金额已从您的沃银网账户转出。