.abtitle-sub
  %h2 消息详情
  .abtitle-return
    %a.btn.btn-default.toback{:href => usercenter_console_message_path} 返回
.abuser-box.newdetails-post
  %h4
    = @message.title
  %p
    = @message.content


