.fixed-deposits
  %header
    %h2 
      %span.glyphicon.glyphicon-align-right
      定期宝
    = link_to '更多', fixed_deposits_path
  .auxiliary-info.text-muted
    3、6、12个月定期固定收益理财项目，每月获得利息收益，
    %br/
    到期收回本金；
    %strong 1000元
    即可加入。
    %br/
    每工作日
    %span.text-danger 10:30、14:30、20:00
    更新总额度。
  = render 'fixed_deposits/top_list'