.lab-val.lab-val-fixed_item-next1
  %table.table.table-striped
    %tbody
      %tr
        %td 名称
        %td
          定存宝
          = obj.deposit_number
      %tr
        %td 产品介绍
        %td
          定存宝是沃银网推出的对100%本息担保的借款项目进行自动投资的理财计划，多种期限可选，满足出借人不同的流动性需要。出借人出借的本金将在
          投资期限届满后一次性返回其账户，利息收益每月返还，并由系统实现自动化的分散投资，更好的满足了出借人的需求。
      %tr
        %td 投资范围
        %td 由合作机构提供100％本息担保的借款项目，包括信用、保证、抵质押等类型
      %tr
        %td 年化收益率
        %td 13.0%
      %tr
        %td 加入期
        %td 2014-08-11 至 2014-09-09
      %tr
        %td 加入条件
        %td 加入金额1,000元起，且以1000元的倍数递增
      %tr
        %td 单笔额度上限
        %td ￥100,000
      %tr
        %td 期限
        %td 3个月
      %tr
        %td 到期日
        %td
          至 2014-09-09（ 定存宝V可能提前还款，收益将根据实际投资天数计算，详情请见
          %span
            %a{:href => "#"} 《 沃银网定存宝V投资协议》
          ）
      %tr
        %td 到期赎回方式
        %td 平台自动返还剩余本金和当期利息
      %tr
        %td 提前赎回方式
        %td
          期限内支持提前赎回，详情请见
          %span
            %a{:href => "#"} 《沃银网定存宝投资协议》
      %tr
        %td 费用
        %td
          %ul
            %li 加入费率： 0.00 %
            %li
              管理费率：参见
              %span
                %a{:href => "#"} 《沃银网定存宝V投资协议》
            %li 到期赎回费率 0.00 %
            %li
              提前赎回费率：最低为待收本金的 23.00 %，参见
              %span
                %a{:href => "#"} 《 沃银网定存宝V投资协议》
      %tr
        %td 保障方式
        %td 100% 本息保障
      %tr
        %td 电子回单
        %td 网上交易保障中心证明该项目的电子回单真实、有效、不可篡改
      %tr
        %td 定存宝V协议
        %td
          %a{:href => "#"} 点击查看