.header
  .container
    .row.wytz
      .span9
        %h1
          我要投资&nbsp;/&nbsp;定期宝
        %p.lead.headerp
          距下一场新项目发布还有
      .span3
        %a.btn.btn-default.pull-right{:href => "/signup/" }
          您尚未登录
.wytz-dqb
  .container
    .bs-example
      %table.table
        %thead
          %tr
            %th
              名称
            %th
              年化收益率
            %th
              期限
            %th
              进度
            %th
              金额
            %th
              操作
        %tbody
          - @fixed_deposits.each do |obj|
            = render 'fixed_deposits/list_col_browser', obj: obj






