.header
  .container
    .row.wytz
      .span9.span-inline
        %a.btn.btn-default.btn-sm{:href=> "/invests"}
          返回投资首页
        .product-title
          %h1
            我要投资&nbsp;/&nbsp;定期宝
      .span3.span-balance
        = render "shared/balance"


.wytz-dqb
  .container
    .invest-list-frame
      %table.table
        %thead
          %tr
            %th
              名称
            %th
              年化收益率
            %th
              期限
            %th
              进度
            %th
              金额
            %th
              操作
        %tbody
          - @fixed_deposits.each do |obj|
            = render 'fixed_deposits/list_col_browser', obj: obj
      .invest-pager-container
        .invest_pagination
          = will_paginate @fixed_deposits, :container => false






