


<body>


<div class="container transfer">
<div class="row">
    <div class="col-md-8 modedqb1">
        <div class="model-box">
            <div class="head">
                <h2>定期宝A140613</h2>
            </div>
            <!--<div class="profit">
              <dl class="f">
                <dt>总额度</dt>
                <dd>
                  <ins>￥</ins>
                  <em>600,000</em>
                </dd>
              </dl>
              <dl>
                <dt>
                  <b>年化收益率</b>
                </dt>
                <dd>
                  <em>8</em>
                  <span>.00</span>%
                </dd>
              </dl>
              <dl>
                <dt>投资期限</dt>
                <dd>
                  <em>3</em>
                  个月
                </dd>
              </dl>
            </div>-->
            <div class="zyzqxq">
                <ul class="zyzqxq1-1">
                    <li class="size1of4 zyzqxq1 zyzq-borri">
                        <ul>
                            <li><button type="button" class="btn btn-default">购买信息</button></li>
                            <li><button type="button" class="btn btn-default">债权信息</button></li>
                        </ul>
                    </li>
                    <li class="size1of4 zyzqxq2 zyzq-borri">
                        <ul>
                            <li>
                                <p class="zyzpp1">购买价格</p>
                                <p class="zyzpp2">￥ <span class="zyzpp2-1">199.62</span></p>
                            </li>
                            <li>
                                <p class="zyzpp1">债权价值</p>
                                <p class="zyzpp2"><span class="zyzpp2-2">200.62</span> %</p>
                            </li>
                        </ul>
                    </li>
                    <li class="size1of4 zyzqxq2 zyzq-borri">
                        <ul>
                            <li>
                                <p class="zyzpp1">实际收益率<span class="badge">?</span></p>
                                <p class="zyzpp2"><span class="zyzpp2-2">12.76</span> %</p>
                            </li>
                            <li>
                                <p class="zyzpp1">年化收益率<span class="badge">?</span></p>
                                <p class="zyzpp2"><span class="zyzpp2-2">12.76</span> %</p>
                            </li>
                        </ul>
                    </li>
                    <li class="size1of4 zyzqxq2">
                        <ul>
                            <li>
                                <p class="zyzpp1">剩余期限</p>
                                <p class="zyzpp2"><span class="zyzpp2-1">36</span> 个月</p>
                            </li>
                            <li>
                                <p class="zyzpp1">原还款期限</p>
                                <p class="zyzpp2">￥ <span class="zyzpp2-2">36</span> 个月</p>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="working-day">
                <p><span>借款用途说明</span>  客户在深圳市某国营企业工作，收入稳定，本借款用于资金周转。本借款已通过证大速贷及证东咨询初审并被推荐至有利网；推荐方提供...<a href="#">[详情]</a></p>

            </div>
            <div class="exp2">
                <ul>
                    <li class="size1of2">发布时间：2014.06.21</li>
                    <li class="size1of2">
                        <p><img src="images/main/wytz5.png">100%本息保障</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4 modedqb">
        <div class="model-box ">
            <div class="head">
                <h2>转让信息</h2>
            </div>
            <div class="doned-left doned-zyxx">
                <ul>
                    <li>
                        <ul class="dldd doned-zyxxgm">
                            <li>购买价格</li>
                            <li>￥<span">199.62</span></li>
                        </ul>
                    </li>
                    <li>
                        <ul class="dldd">
                            <li>预期收益</li>
                            <li>￥<span">41.26</span></li>
                        </ul>
                    </li>
                    <li>
                        <ul class="dldd dldd-input">
                            <li>验证码</li>
                            <li><input type="text" style="width:85px; height:30px;"></li>
                            <li><img src="images/main/wytz6.jpg" width="70" height="30"></li>
                            <li><img src="images/main/wytz7.jpg" width="35" height="30"></li>
                        </ul>
                    </li>
                    <li class="funds-ord">
                        <p><input type="checkbox" class="io chek1">我同意《</p>
                        <div class="funds-ord1"><a href="#">沃银网定存宝V投资协议</a><p>》</p></div>
                    </li>
                    <li>
                        <button type="button" class="btn btn-primary btn-lg btn-block">敬请期待</button></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="dqbxq">
    <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#detail" role="tab" data-toggle="tab">产品详情</a></li>
        <li><a href="#prshd" role="tab" data-toggle="tab">加入记录</a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active" id="detail">
            <table class="table table-bordered dqbxq-border">
                <thead>
                <tr>
                    <th>名称</th>
                    <th>定存宝V124567</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>产品介绍</td>
                    <td>定存宝V是有利网推出的对100%本息担保的借款项目进行自动投资的理财计划，多种期限可选，满足出借人不同的流动性需要。出借人出借的本金将在投资期限届满后一次性返回其账户，利息收益每月返还，并由系统实现自动化的分散投资，更好的满足了出借人的需求。</td>
                </tr>
                <tr>
                    <td>投资范围</td>
                    <td>由合作机构提供100％本息担保的借款项目，包括信用、保证、抵质押等类型</td>
                </tr>
                <tr>
                    <td>年化收益率</td>
                    <td>10.20%</td>
                </tr>
                <tr>
                    <td>加入期</td>
                    <td>2014.06.21 至 2014.06.23</td>
                </tr>
                <tr>
                    <td>加入条件</td>
                    <td>加入金额1,000元起，且以1000元的倍数递增</td>
                </tr>
                <tr>
                    <td>单笔额度上限</td>
                    <td>￥100,000</td>
                </tr>
                <tr>
                    <td>期限</td>
                    <td>11个月</td>
                </tr>
                <tr>
                    <td>到期日</td>
                    <td>
                        <ul class="dqbxq-cost">
                            <li>
                                <p><span>2015.05.23</span>（ 定存宝V可能提前还款，收益将根据实际投资天数计算，详情请见《</p><a href="#">沃银网定存宝V投资协议</a>》）
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>到期赎回方式</td>
                    <td>平台自动返还剩余本金和当期利息</td>
                </tr>
                <tr>
                    <td>提前赎回方式</td>
                    <td>期限内支持提前赎回，详情请见《沃银网定存宝V投资协议》</td>
                </tr>
                <tr>
                    <td>费用</td>
                    <td>
                        <ul class="dqbxq-cost">
                            <li>加入费率：<span>0.00</span><span>%</span></li>
                            <li><p>管理费率：参见《</p><a href="#">沃银网定存宝V投资协议</a>》</li>
                            <li>到期赎回费率<span>0.00</span><span>%</span></li>
                            <li><p>提前赎回费率：最低为待收本金的<span>23.00</span><span>%</span>，参见《</p><a href="#">沃银网定存宝V投资协议</a>》</li>
                            <li></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>保障方式</td>
                    <td class="expl"><img src="images/main/wytz5.png"><p>100%本息保障</p></td>
                </tr>
                <tr>
                    <td>电子回单</td>
                    <td>网上交易保障中心证明该项目的电子回单真实、有效、不可篡改</td>
                </tr>
                <tr>
                    <td>定存宝V协议</td>
                    <td><a href="#">点击查看</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane" id="prshd">
            <table class="table dqbxq-jrjl">
                <thead>
                <tr>
                    <th>投资人</th>
                    <th>加入金额</th>
                    <th>加入时间</th>
                    <th>状态</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>62***kd</td>
                    <td>1,00,00</td>
                    <td>2014.06.21 16:03</td>
                    <td><span class="glyphicon glyphicon-ok"></span>成功</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
</body>