// Place all the styles related to the transactions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.stats-items{
  padding-top: 20px;
}
.recharge-entry1{
  margin-bottom: 0px;
}
.recharge-entry1 dt {
  font-size: 20px;
  text-align: center;
  font-weight: normal;
  width: 50%;
}
.recharge-entry1 dd {
  font-size: 20px;
  text-align: center;
  font-weight: normal;
  width: 50%;
}
.recharge-entry2 dt {
  font-size: 14px;
  text-align: center;
  font-weight: normal;
  font-weight: normal;
  width: 50%;
}
.recharge-entry2 dd {
  font-size: 14px;
  text-align: center;
  font-weight: normal;
  width: 50%;
}
