/*
 *= require_self
 */
.order_product
{
  boder:solid;
}


/* CSS Document */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}
body {
  font-family: tahoma, Arial, Microsoft YaHei, SimSun;
  font-size: 12px;
  line-height: 1.5em;
}
ol, ul {
  list-style: none;
}
img {
  display: block;
  border: 0;
}
a {
  display: block;
  text-decoration: none;
}
a:focus, a:hover {
  text-decoration: none;

}
.size1of4 {
  width: 25%;
}
body {
  background-color: #f1f1f1;
}
/* My Account */
.container-fluid {
  padding-right: 10%;
  padding-left: 10%;
  margin-right: auto;
  margin-left: auto;
  margin-top:3%;
}
@media (min-width: 768px) {
  .bs-example {
    margin-right: 0;
    margin-left: 2px;
    padding:15px 0 30px 0;
    background-color: #fff;
    border:1px solid #d2d2d2;
    border-radius: 4px 4px 4px 4px;
    /* -webkit-box-shadow: none; */
    box-shadow: none;
  }
}
.bs-example img{
  margin:auto;
  margin-bottom:10px;
}
.accout_ye1{
  padding:10px 4px 10px 4px;
  color:#1fb5da;
  font-size:16px;
  text-align:center;
}
.bs-example li {
  border-bottom:1px solid #d2d2d2;
  text-align:center;
  font-size:14px;
  text-decoration: none;
  color:#fff;
}
.bs-example li a{
  color:#666;
  padding:10px 4px 10px 4px;
}
.bs-example li a:hover{
  background-color:#CCC;
}
.accout_yonghu{
  background-color:#1fb5da;
  padding:4px 4px 4px 4px;
  color:#fff;
  font-size:16px;
  margin-bottom:15px;
  text-align:center;
}
.accout_ts{
  color:#666;
  padding:15px 4px 10px 4px;
  text-align:center;
}
.accout_ts a{
  float:left;
}
.sjgm{
  height:30px;
  margin:15px 15px 15px 15px;
}
.sjgm_sj{
  float:left;
  margin:0 5px 20px 5px;
}
.accout_progress{
  margin:0 25px 0 25px;
  height: 10px;
}
.accout_ye{
  background-color:#999;
  padding:10px 4px 10px 4px;
  margin-bottom:15px;
}
.accout_lbg{
  background-color:#999;
  padding:10px 4px 10px 4px;
}
.accmain{
  margin-left:2%;
}
.acc1{
  font-size:30px;
  font-family:Microsoft YaHei;
  margin-bottom:25px;
}
.acc2{
  float:right;
  margin-bottom:15px;
}
.acc3{
  font-size:14px;
  font-family:Microsoft YaHei;
  margin-top:50px;
  margin-bottom:10px;
  padding-bottom:10px;
  border-bottom:1px solid #ccc;
}
.acc4 {
  margin-top: 2%;
  margin-left: 2px;
  padding:20px 0 120px 0;
  background-color: #fff;
  border:1px solid #d2d2d2;
  border-radius: 4px 4px 4px 4px;
  /* -webkit-box-shadow: none; */
  box-shadow: none;
}
.acc4_1{
  float:left;
  padding:10px 10px 10px 10px;
  border-right:1px solid #ccc;
  text-align:center;
}
.acc4_1a{
  font-size:14px;
  font-family:Microsoft YaHei;
  margin-bottom:10px;
}
.badge {
  margin-top:10px;
  margin-left:10px;
  padding: 2px 5px;
  color: #fff;
  background-color: #999;
}
.acc4_1b{
  padding-right:20px;
  color:#1fb5da;
  font-size:20px;
  text-align:center;
  padding-bottom:10px;
}
.acc4_1c{
  font-size:14px;
  font-family:Microsoft YaHei;
}
.acc4_12c{
  font-size:14px;
  font-family:Microsoft YaHei;

  padding-left:10px;
}
.acc4_12cc p{
  padding-left:10px;
  padding-right:10px;
  background-color:#1fb5da;
}
.acc4_2{
  float:left;
  padding:10px 10px 35px 10px;
  text-align:center;
  border-right:1px solid #ccc;
}
.acc4_3{
  float:left;
  padding:10px 10px 10px 10px;
  text-align:center;
}
.acc5 {
  margin-top:100px;
  float: left;
  height: 35px;
  line-height: 35px;
  background-repeat: no-repeat;
}
.acc5 dl {
  float: left;
  height: 35px;
  font-family: "微软雅黑";
  font-size: 16px;
  padding-left: 28px;
  color: #000;
}
.acc5 a {
  font-size: 16px;
  font-family: "微软雅黑";
  float: left;
  color: #1fb5da;
  padding-right: 10px;
}

.model-box {
  border: 1px solid #D3D8DC;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  zoom: 1;
}

.trade-filter {
  padding-bottom: 10px
}

.filter-items {
  overflow: hidden;
  zoom: 1;
  padding-top: 10px;
  margin: 0 40px;
  line-height: 30px
}

.filter-items dt {
  width: 65px;
  float: left;
  display: inline;
  font-size: 14px;
}
.filter-items dd {
  margin-left: 80px;
  height: 30px
}
.filter-items dd a {
  display: inline-block;
  padding: 0 10px;
  height: 24px;
  line-height: 24px;
  margin: 4px 10px 0 0;
  float: left;
  display: inline;
  border-radius: 3px;
  color: #475058;
  font-size: 14px;
}
.filter-items dd a:visited {
  color: #475058
}
.filter-items dd a:hover {
  color: #fff;
  background: #1fb5da;
  text-decoration: none
}
.filter-items a.selected, .filter-items a.selected:visited {
  color: #fff;
  background: #1fb5da;
  cursor: default
}

.query-input {
  float: left;
  display: inline;
  padding-right: 20px;
  height: 30px
}
.query-input label {
  padding: 0 5px;
  float: left;
  display: inline
}
.query-input input {
  height: 25px;
  line-height: 25px;
  width: 100px;
  padding: 6px 0 5px 35px;
  padding: 6px 0 5px 25px\9;
  text-indent: 10px\9;
  font-family: Tahoma;
  border: 0;
  background: #999 url(../../../local/img/common/ui-date.png) no-repeat 10px 9px;
  border-radius: 3px;
  float: left;
  display: inline;
  overflow: hidden;
  cursor: default
}