/*
 *= require_self
 */


/* My Account */



.console-page-area{ margin-top:12px; margin-bottom:12px; }




.sidebar .accout-avatar{ text-align:center; }
.sidebar .accout-avatar img{ display:inline; }


.sidebar .accout-info{ margin: 10px 15px; }

.sidebar .accout-progress{
  margin:0 15px;
}
.sidebar .accout-progress .progress{
  margin-bottom:5px; 
}


.sidebar .accout_ts{
  margin:0 15px 10px 15px;
}
.sidebar .accout_ts a{
  margin-right:8px;
}


.accout_ye{
  margin:20px 15px;
}



.sidebar .sidebar-nav{
  margin:15px; 
}






@media (min-width: 768px) {
  .console-page-area aside.sidebar {
    margin-right: 0;
    margin-left: 2px;
    padding:15px 0 30px 0;
    background-color: #fff;
    border:1px solid #d2d2d2;
    border-radius: 4px 4px 4px 4px;
    /* -webkit-box-shadow: none; */
    box-shadow: none;
  }
}






.sjgm{
  height:30px;
  margin:5px 5px 5px 5px;
}
.sjgm_sj{
  float:left;
  margin:0 1px 5px 5px;
  padding: 0;
  display: inline-block;
}
.btn-small{
  padding:8px;
}



.accout_lbg{
  background-color:#999;
  padding:10px 4px 10px 4px;
}
.accmain{
  margin-left:2%;
}
.acc1{
  font-size:30px;
  font-family:Microsoft YaHei;
  margin-bottom:25px;
}
.acc2{
  float:right;
  margin-bottom:15px;
}
.acc3{
  font-size:14px;
  font-family:Microsoft YaHei;
  margin-top:50px;
  margin-bottom:10px;
  padding-bottom:10px;
  border-bottom:1px solid #ccc;
}
.acc4 {
  margin-top: 2%;
  margin-left: 2px;
  padding:20px 0 120px 0;
  background-color: #fff;
  border:1px solid #d2d2d2;
  border-radius: 4px 4px 4px 4px;
  /* -webkit-box-shadow: none; */
  box-shadow: none;
}
.acc4_1{
  float:left;
  padding:10px 10px 10px 10px;
  border-right:1px solid #ccc;
  text-align:center;
}
.acc4_1a{
  font-size:14px;
  font-family:Microsoft YaHei;
  margin-bottom:10px;
}
.badge {

}
.acc4_1b{
  padding-right:20px;
  color:#1fb5da;
  font-size:20px;
  text-align:center;
  padding-bottom:10px;
}
.acc4_1c{
  font-size:14px;
  font-family:Microsoft YaHei;
}
.acc4_12c{
  font-size:14px;
  font-family:Microsoft YaHei;

  padding-left:10px;
}
.acc4_12cc p{
  padding-left:10px;
  padding-right:10px;
  background-color:#1fb5da;
}
.acc4_2{
  float:left;
  padding:10px 10px 35px 10px;
  text-align:center;
  border-right:1px solid #ccc;
}
.acc4_3{
  float:left;
  padding:10px 10px 10px 10px;
  text-align:center;
}
.acc5 {
  margin-top:100px;
  float: left;
  height: 35px;
  line-height: 35px;
  background-repeat: no-repeat;
}
.acc5 dl {
  float: left;
  height: 35px;
  font-family: "微软雅黑";
  font-size: 16px;
  padding-left: 28px;
  color: #000;
}
.acc5 a {
  font-size: 16px;
  font-family: "微软雅黑";
  float: left;
  color: #1fb5da;
  padding-right: 10px;
}

.filter-box {
  border: 1px solid #D3D8DC;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  zoom: 1;
}

.trade-filter {
  padding-bottom: 10px
}

.filter-items {
  overflow: hidden;
  zoom: 1;
  padding-top: 10px;
  margin: 0 40px;
  line-height: 30px
}

.filter-items dt {
  width: 65px;
  float: left;
  display: inline;
  font-size: 14px;
}
.filter-items dd {
  margin-left: 80px;
  height: 30px
}
.filter-items dd a {
  display: inline-block;
  padding: 0 10px;
  height: 24px;
  line-height: 24px;
  margin: 4px 10px 0 0;
  float: left;
  display: inline;
  border-radius: 3px;
  color: #475058;
  font-size: 14px;
}
.filter-items dd a:visited {
  color: #475058
}
.filter-items dd a:hover {
  color: #fff;
  background: #1fb5da;
  text-decoration: none
}
.filter-items a.selected, .filter-items a.selected:visited {
  color: #fff;
  background: #1fb5da;
  cursor: default
}

.query-input {
  float: left;
  display: inline;
  padding-right: 20px;
  height: 30px
}
.query-input label {
  padding: 0 5px;
  float: left;
  display: inline
}
.query-input input {
  height: 25px;
  line-height: 25px;
  width: 100px;
  padding: 6px 0 5px 35px;
  padding: 6px 0 5px 25px\9;
  text-indent: 10px\9;
  font-family: Tahoma;
  border: 0;
  background: #999 url(../../../local/img/common/ui-date.png) no-repeat 10px 9px;
  border-radius: 3px;
  float: left;
  display: inline;
  overflow: hidden;
  cursor: default
}


.error-span{
  padding-top: 8px;
  color:grey;
}