/* CSS Document */
ul, ol {
  margin-top: 0px;
  margin-bottom: 0px;
}
.wrapper{
  background-color:#fafafa;
  border:1px solid #e5e5e5;
  margin-top:20px;
  margin-bottom:30px;
  border-radius:4px;
}
.userwrapper{
  background-color:#fafafa;
  border:1px solid #e5e5e5;
  border-radius:4px;
}
aside.sidebar {
  margin-right: 0;
  padding: 10px 0 30px 0px;
  border-right: 1px solid #00a3d9;
  box-shadow: none;
  min-height: 720px;
  color:#333;

}
.userwrapper .wrapperbode{
  padding-right: 0px;
  padding-left: 0px;
}
.sidebar .accout-info{
  margin: 10px 0px;
  background-color: transparent;
  border-color: transparent;
  border-bottom: 1px solid #e5e5e5;
  font-weight: bold;
  color: #555;
  padding-left:40px;
 font-size: 16px;}

.sidebar .accout-avatar{
  border-bottom:1px solid #e5e5e5;
  padding-left:40px;
}
.sidebar .accout-avatar strong{
  font-size:18px;
}
.sidebar .accout_ye {
  margin: 10px 0 0px 0;
  font-size: 14px;
  padding-bottom: 10px;
}
.sidebar .accout_ye strong{

  font-size:16px;
}
.sidebar .accout_ye a{
  padding-left: 10px;
  color:#00a3d9;
}
.sidebar .accout_ts {
  padding: 20px 15px 0 40px;
  border-bottom:1px solid #e5e5e5;
}
.sidebar .accout_ts img{
  padding-right:10px;
}
.sidebar .accout-progress {
  font-weight:bold;
  margin: 15px 15px 15px 0;
}
.sidebar .accout-progress  span{
  margin-left: 10px;
}
.sidebar .accout_ts .progress{
  height:15px;
  border-radius:15px;
}
.sidebar .accout-progress a{
  color:#00a3d9;
}
.sidebar .accout-progress .col-xs-4{
  padding-left: 0px;
}
.sidebar .sidebar-nav {
  margin: 15px 0;
}
.sidebar .nav-pills>li.active>a, .sidebar .nav-pills>li.active>a:hover, .sidebar .nav-pills>li.active>a:focus {
  color: white;
  background-color: #00a3d9;
  border-radius: 0;
}
.sidebar .nav-pills>li.active>a span, .sidebar .nav-pills>li.active>a span:hover, .sidebar .nav-pills>li.active>a span:focus {
  color: white;

}
.sidebar .sidebar-nav li a {
  font-size:16px;
  padding: 15px 40px;
  color:#555;
}
.sidebar .accout_ts a {
  margin-right: 8px;
}
.btn-small {
  padding: 8px;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active {
  color: #333333;
  background-color: #ebebeb;
  border-color: #adadad;
}

.sidebar .accout_ts .btn{
  border: 1px solid #afe0f0;
  padding: 16px 13px;
}
.sidebar .accout_ts a:hover{
  background-color: #00BB00;
}
.sidebar .accout_ts a:hover span{
  color: #fff;
}
.sidebar .accout_ts .btn-success{
  background-color: #9eca2f;
  border-color: #9eca2f;
}
.sidebar .sidebar-nav li span{ padding-right:25px; color:#c7cdd2;
}
.light-org {
  color: #fc9b5e;
}
.light-skyblue{ color:#00a3d9;}
/*.console-page-area .loan-tum{ margin-top:40px; padding-left:20px; padding-right:20px;}
.console-page-area .loan-tum .loan-box{ border:1px solid #000; border-radius:0 6px 6px 6px;}
.console-page-area .loan-tum .items:first-child{border-top:1px solid #555;}
.console-page-area .loan-tum .items{;padding-right: 0px;
padding-left: 0px;}
.console-page-area .loan-tum .items li {
float: left; border-bottom:1px solid #555
}

.console-page-area .loan-tum .items li span{ border-right:1px solid #555; height:50px;
padding-top:18px;
}*/
.console-page-area .usermain{padding-right: 25px; padding-left: 25px;}
.userloanbjco{ background-color:#f7fdff;
}
.console-page-area .title-items{
  margin-top:40px;
  height: 50px;
  border: 1px solid #d3d8dc;
  border-bottom:0px;
  border-radius:6px 6px 0 0;
  width:18%;
  background-color:#fff;
}
.console-page-area .title-items h3{
  text-align:center;
  margin-top:0px;
  margin-bottom:0px;
  font-size:18px;
  font-weight: bold;
  color:#333;
  padding:15px 0 15px 0;
}
.console-page-area .model-box{border: 1px solid #d3d8dc;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  border-radius:0 6px 6px 6px;
  zoom: 1;}
.console-page-area .loan-tum .head {
  height: 60px;
  background:#f7fdff;
  line-height: 50px;
  padding: 0 15px;
  position: relative;
}
.console-page-area .loan-tum .head h2 {
  padding-left:15px;
  font-size: 18px;
  float: left;
  display: inline;
  position: relative;
  font-weight:700;
}
.console-page-area .loan-tum .head .r {
  color:#909090;
  float: right;
}
.console-page-area .loan-parame-post {
  border-top: 1px solid #e9edef;
  overflow: hidden;
  background-color:#fff;
  zoom: 1;
}
.console-page-area .loan-parame-post .items {
  border-bottom: 1px solid #e9edef;
  height: 59px;
  line-height: 59px;
}
.console-page-area .loan-parame-post li {
  position: relative;
}
.console-page-area .loan-parame-post li {
  float: left;
  display: inline;
  border-left: 1px solid #e9edef;
  height: 59px;
  width: 49%;
  margin-left: -1px;
}
.console-page-area .loan-parame-post span{
  padding-left:30px;
}
.console-page-area .loan-parame-post .tit {
  display: inline-block;
  border-right: 1px solid #e9edef;
  width:40%;
}
.console-page-area .loan-parame-post .tet {
  width:60%;
  padding-right: 0px;
}
.console-page-area .loan-parame-post .tet .col-xs-9{
  padding-right: 0px;
  padding-left: 5px;
}
.console-page-area .loan-parame-post .tet .col-xs-3{
  padding-right: 0px;
  padding-left: 0px;
  text-align: center;
}
.console-page-area .loan-parame-post .tet .progress{
  height: 15px; margin-top: 22px; margin-bottom: 20px; border-radius:10px;
}
.console-page-area .loan-parame-post .tet .progress .progress-bar-success {
  background-color: #9eca2f;
}
.console-page-area .plan-post li {
  position: relative;
  float: left;
  display: inline;
  border-left: 1px solid #e9edef;
  height: 59px;
  width: 100%;
  margin-left: -1px;
}
.console-page-area .plan-post span {
  padding-left: 30px;

}
.console-page-area .plan-post .tit {
  display: inline-block;
  border-right: 1px solid #e9edef;
  width:19.5%;
}
.console-page-area .plan-post .tit:last-child {
  border-right: 0px solid #e9edef;
}

.console-page-area .plan-stats {
  margin-top:75px;
  padding: 20px;
  margin-bottom: 20px;
}

/* withdraw2*/
.usermain .abtitle-sub {
  position: relative;
  height: 40px;
  border-bottom: 1px solid #0099cc;
  clear: both;
}
.usermain .abtitle-sub .button-back .toback {
  left: 0;
  right: auto;
}
.usermain .abtitle-sub .abtitle-return{
  position: absolute;
  right: 50px;
  top: 25px;
  z-index: 5;
  float: left;
  line-height: 30px;
  width: 70px;
  background: #e8ecef;
  text-align: center;
  color: #475058;
  padding-top:1px;
  width:80px; background-color:#fafafa;}
.usermain .abtitle-sub .toback {
  width: 60px;
  height: 30px;
  padding: 5px 12px;
  color: #fff;
  background-color: #00a3d9;
  border-color: #00a3d9;
}
.usermain .abtitle-sub h2{
  font-size: 24px;
  height: 30px;
  line-height: 30px;
  color: #0099cc;
  position: absolute;
  z-index: 3;
  padding: 5px 15px 5px 0px;
  background-color:#fafafa;
}
.usermain .abuser-box {
  border: 1px solid #d3d8dc;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  zoom: 1;
  margin-top:50px;
  border-radius:4px;
}
.usermain .withdraw-post{ padding-top:30px; padding-bottom:30px;}
.usermain .withdraw-post .dl-horizontal dt{
  font-weight: normal;
  margin-bottom:30px;
}
.usermain .withdraw-post .dl-horizontal dd{
  margin-left:195px;
}
.usermain .withdraw-post .dl-horizontal dd span{
  font-weight:600;
  font-size:18px;
  padding-right:20px;
}
.usermain .withdraw-post .dl-horizontal .caption{
  font-weight: normal;
  font-size:14px;
  padding-right:0px;
  color: #555;
}
.usermain .withdraw-post .dl-horizontal .forget-paydt{
  padding-top:10px;
}
.usermain .withdraw-post .dl-horizontal .forget-pay{
  font-weight: normal;
  font-size:14px;
  padding-left:20px;
  color: #0099cc;
}
.usermain .withdraw-post .dl-horizontal .input-lg{
  height: 40px;
  font-size:14px;
  padding: 8px 16px;
}
.usermain .withdraw-post .dl-horizontal .btn-lg{
  padding: 8px 40px;
}
/* withdraw1*/
.usermain .withdraw-post .dl-horizontal .input-group{
  width: 190px;
}
.usermain .withdraw-post .dl-horizontal .input-group .input-group-addon{
  background-color: #fff;
  padding: 6px 10px 6px 10px;
}
.usermain .withdraw-post .dl-horizontal .withdraw-bank a{ margin-right:30px;}
.usermain .withdraw-post .dl-horizontal .withdraw-bank a:hover{
  background-color:#fff;
  border-color: #0099cc;
}
.usermain .withdraw-post .dl-horizontal .withdraw-bank .withdraw-addbank{ height:46px; padding-top:12px; font-size:16px;}
.usermain .withdraw-post .dl-horizontal .withdraw-bank .withdraw-addbank span{color: #0099cc; font-size:16px;}
.usermain .withdraw-post .dl-horizontal .withdraw-bank .withdraw-addbank .withdraw-addbanktext{color: #333;}

/*  bankcard-post  */
.usermain .bankcard-post{ padding-top:30px; padding-bottom:30px;border: 0px solid #d3d8dc;}
.usermain .bankcard-post .bankcardone{ padding-left:50px; padding-right:20px;}
.usermain .bankcard-post .bankcardone .model-box{ border-radius:6px;}
.usermain .bankcard-post .bankcardone .panel-heading span{ font-size:14px; padding-left:40px; width:125px; text-align:right;}
.usermain .bankcard-post .bankcardone .panel-heading .text-right span{ color:#9fc830;}
.bankcardone .panel-body .dl-horizontal dt{ width:90px; margin-bottom:10px; font-weight:normal;}
.bankcardone .panel-body .dl-horizontal dd{margin-left: 110px;}
.usermain .bankcard-post .bankcardtwo{ padding-left:10px; padding-right:60px;}
.usermain .bankcard-post .bankcardtwo .panel-heading{ min-height:53px;}
.usermain .bankcard-post .bankcardtwo .panel-body{ min-height:154px; text-align:center;}
.usermain .bankcard-post .bankcardtwo .panel-body .withdraw-addbank{ margin-top:40px; border:0px;font-size:18px;}
.usermain .bankcard-post .bankcardtwo .panel-body .withdraw-addbank:hover{ background-color:transparent;}
.usermain .bankcard-post .bankcardtwo .panel-body .withdraw-addbank span{ color:#0099cc;}
/*  bankcard-post2  */
.usermain .bankcard-post .bankcardtwo .panel-body .form-horizontal{ margin-top:10px;}
.usermain .bankcard-post .bankcardtwo .panel-body .form-horizontal .form-group{ margin-bottom:20px;}
.usermain .bankcard-post .bankcardtwo .panel-body .form-horizontal .form-control{ height:41px;}
.seleinput-bank{padding:3px 5px 3px 0px; border-left:0px;}
.seleinput-bank:hover{ background-color:#fff; border-color:#ccc;}
.usermain .bankcard-post .bankcardtwo .panel-body .form-horizontal .control-label{ font-weight:normal;padding-right: 0px; padding-top:12px;}
.bank-addbank{ padding-left:0px;}
.bank-addbank .btn-primary{background-color:#00a3d9;border-color: #00a3d9;}
.bank-resetbank{padding-right:0px;}
.bank-resetbank .btn-primary{background-color:#ccc;border-color: #ccc;}

/*  newdetails  */
.usermain .newdetails-post{padding:30px 0px 30px 30px;}

  /*  accounttop  */
.usermain .accounttop-post{ padding-top:30px; padding-bottom:30px;}
.usermain .accounttop-post .accoun-selebank .btn-primary{color: #555;
  background-color: #fff;
  border-color: #e0e0e0;
  min-height:45px;
}
.accoun-selebank .accountnow .input-group .input-group-addon{background-color: #fff;}
.accountnow p{ padding-top:12px;}
.usermain .accounttop-post .accoun-selebank .btn-primary:hover{
  border-color: #0099cc;}
.usermain .accounttop-post .accoun-selebank li{ padding-right:5px;}
.usermain .accounttop-post .accoun-selebank .btn-lg{ font-size:14px; padding-top:12px;}
.usermain .accounttop-post .dl-horizontal dt{ width:100px; font-weight:normal; margin-bottom:30px; padding-top:12px;}
.usermain .accounttop-post .dl-horizontal dd{margin-left: 120px;}
.usermain .accounttop-post .submit-top .accoun-selebank .btn-primary{color: #fff;
  background-color: #00a3d9;
  border-color: #00a3d9;
  min-height:45px;
  margin-top:30px;
}
.usermain .accounttop-post .submit-top .accoun-selebank .btn-lg{ font-size:18px;}