/* find-password */
.sign-page .find-password-lbody .reg-steps{ margin-top:30px; margin-bottom:60px;}
.sign-page .find-password-lbody{ background-color:#fff; padding-top:20px; padding-bottom:150px;}
.sign-page .find-password-lbody .backsign { padding-top:12px; padding-left:0px;}
.sign-page .find-password-lbody .backsign a{ color:#0099cc;}
.sign-page .find-password-lbody .mailbox-btn-size{padding: 6px 12px;}
.sign-page .find-password-lbody .btn{padding: 6px 32px;}
.sign-page .find-password-lbody .btn-primary {color: #fff;background-color: #1fb4da;border-color: #1fb4da;}
.sign-page .find-password-lbody .mailboxyh{ margin-top:20px; margin-bottom:20px; padding-left:60px;}
.sign-page .find-password-lbody h2 span{color: #9fc830; font-size:40px; font-weight:normal;}
.sign-page .find-password-lbody .col-sm-5, .sign-page .find-password-lbody .col-sm-5{padding-left: 15px; padding-right: 0px;}
.sign-page .find-password-lbody .findpassword-user{
  margin-left:280px;color:#555;
}
.sign-page .find-password-lbody .findpassword-select{
  width:600px; height:80px; border:1px solid #e5e5e5; border-radius:6px; margin-left:255px; margin-top:20px; padding:15px 0 0 10px;
}
.sign-page .find-password-lbody .findpassword-select strong{ font-size:16px;color:#333;}
.sign-page .find-password-lbody .findpassword-select p{ margin-top:5px; color:#555;}
.sign-page .find-password-lbody .findpassword-select .btn{padding: 8px 22px; margin-top:5px; font-size:16px;}
.sign-page .find-password-select{ padding-bottom:70px;}
.sign-page .find-password-lbody .findpas-selectthree {
  width: 600px;
  height: 160px;
  border: 1px solid #e5e5e5;
  border-radius: 6px;
  margin-left: 255px;
  margin-top: 20px;
  padding: 15px 0 0 25px;
}
.sign-page .find-password-lbody .findpas-selectthree strong{
  font-size: 16px;
  color: #333;
}
.sign-page .find-password-lbody .findpas-selectthree .col-xs-3{
  padding-left:0;
  padding-right:0;
}
.sign-page .find-password-lbody .findpas-selectthree .col-xs-9 .btn{
padding: 6px 12px;
}
.sign-page .find-password-lbody .findpas-selectthree .btn-primary{
  padding: 6px 20px;
  background-color:#ff6600;
  border-color: #ff6600;
}
.sign-page .find-password-lbody .findpas-selectthree .fingpwssubmit{
  margin-top:15px;
}
.sign-page .find-password-lbody .findpas-selectthree .fingpwssubmit .btn-success{
  padding:8px 20px;
  background-color: #00a3d9;
  border-color: #00a3d9;
}
.pwsabtitle-sub {
  position: relative;
  height: 47px;
  border-bottom: 1px solid #e0e0e0;
  clear: both;
}
.pwsabtitle-sub .button-back .toback {
  left: 0;
  right: auto;
}
.pwsabtitle-sub .abtitle-return {
  position: absolute;
  right: 480px;
  top: 25px;
  z-index: 5;
  float: left;
  line-height: 40px;
  text-align: center;
  color: #475058;
  padding-top: 1px;
  width: 150px;
  height:50px;
  background-color: #fff;
}
.pwsabtitle-sub .toback {
  width: 120px;
  height: 40px;
  padding: 7px 25px;
  color: #fff;
  background-color: #00a3d9;
  border-color: #00a3d9;
  font-size:18px;
}
.sign-page .find-password-lbody .findpassword-succeed .pwsabtitle-sub .btn{
  padding: 6px 23px;
}