/* CSS Document */


/*footer{
  padding:12px 0;
}






.security-identity{
  margin-top:10px;
  margin-bottom:22px;
  padding-bottom:22px;
  color:#969da5;
}
.security-identity li{ 
  vertical-align:middle;
  height:50px;
  line-height:50px; 

}

.security-identity .glyphicon{
  font-size:40px;
  top:12px;
}
.security-identity p{
  font-size:18px;
  display:inline;
}

.security-identity {
  color: #969da5;
  background-color: #d9d9d9;
  height: 150px;
}
.security-identity  .list-unstyled, .list-inline {
  padding-left: 0;
  list-style: none;
}*/
/* foot上面的四个标题CSS  */
.security-tupow{
  padding-top:0px;
  margin-top:50px;
  width:100%;
  height:159px;
  border:0px solid #09F;
  position:relative;
}
.security-tupow .bossy em{
  display:block;
  border-width:20px;
  position:absolute;
  bottom:159px;
  border-style: dashed dashed solid dashed;
  border-color: transparent  transparent #e7e7e7 transparent ;
  font-size:0; line-height:0;}
.security-tupow .bossy  span{
  display:block;
  border-width:20px;
  border-height:15px;
  position:absolute;
  bottom:157px;
  border-style: dashed dashed solid dashed;
  border-color:transparent transparent #FCFCFC transparent;
  font-size:0;
  line-height:0;}
.security-tupow .bossy{ padding-left:550px;}
.security-identity .security-identity-container{

}
.security-identity{
  border-top: 1px solid #dadada;
  background-color: #fcfcfc;
  border-bottom: 1px solid #dadada;
  min-width: 1170px;
}
.security-identity .list-unstyled {
  margin-top:20px;
  margin-bottom:20px;
}
.security-identity .list-unstyled dt{ padding-bottom:5px;}
.security-identity .list-unstyled .list-unstyled-borde .text-left dt{ padding-bottom:5px; padding-left: 25px;}
.security-identity .list-unstyled .text-right dt{ padding-bottom:5px; padding-right: 30px;}
.security-identity .list-unstyled dd{ font-size:20px;color:#0099cc;}
.security-identity .list-unstyled .list-unstyled-borde{
  margin-top:5px;
  border-right:1px solid #dfdfdf;
}
.security-identity .list-unstyled .list-unstyled-borde-two{ margin-left: 20px; width: 1px;
  height: 100px; background-color: #dfdfdf; float: left;
}
.security-identity .list-unstyled .list-unstyled-borde-three{ text-align: right; width: 1px;
  height: 100px; background-color: #dfdfdf; float: left;
}
.list-unstyled-borde-two-left{
  width: 330px;
  float: left;
}
.security-identity .list-unstyled .list-unstyled-borde-four{ text-align: right; width: 1px;
  height: 100px; background-color: #dfdfdf; float: left;
}
.list-unstyled-borde-three-left{
  width: 330px;
  float: left;
}
.footer{background: image-url("wooul-bg.gif"); }
.footnav-bj{ background-color:#4e5d69;
  min-width: 1170px;
  padding-top:20px;
  padding-bottom:120px;
  color:#fff;
}
.footnav-bj a{
  color:#fff;
}
.footnav-bj h3{ background: #4E5D69;}
.footnav-bj .list-unstyled{ padding-left:25px;}
.footnav-bj .about-us{ padding-left:35px;}

.footnav-bj .footer-border{ border-left:1px solid #fff; padding-left:30px; padding-top:10px; padding-right: 0px;}
.footnav-bj .footer-address dl{margin-bottom: 10px;}

.footnav-bj .footer-address dd{ font-size:24px;}
.footnav-bj .footer-address span:first-child{ padding-right:40px;}
.footnav-bj .footer-address img{ margin-top:80px; margin-bottom:20px;}
.footnav-findpasswordbj{
  padding-top:30px;
  padding-bottom:50px;
}
.footnav-findpasswordbj .footer-address img{ margin-top:10px; margin-bottom:20px;}

