/* Header Style
-------------------------------------------------- */

.header-top {
  background: #fff;
  background: image-url("wooul-bg.gif");
  margin-bottom: 0;
  /*border-top: 5px solid #424d55;*/
  border:0 none;
}

.header-container{
  padding:0;
}

.header-tools {
  min-height: 80px;
  line-height: 80px;
  position: relative;
}

.header-tools ul {
  margin-bottom: 0;
}

.header-tools .hotline .glyphicon {
  font-size:24px;
  top:8px;
}

.header-tools .hotline .hottitle {
  padding-left: 0;
  margin-right: 10px;
  font-size: 14px;
}

.header-tools .hotline .numbers {
  padding-left: 0;
  margin-right: 10px;
  font-size: 15px;
}


.header-top .navbar-nav > .active > a, .header-top .navbar-nav > li > a:hover, .header-top .navbar-nav > .open > a, .header-top .navbar-nav > .open > a:hover, .header-top .navbar-nav > .open > a:focus{
  background: #f1f1f1;
}





.header-tools li a {

}

.header-tools .signlink li a:link, .header-tools .signlink li a:visited { }

.header-tools .signlink li a:hover {

}

.username {

}

.header-tools .hotline {
  font-size: 16px;
}


/* Header nav styles
-------------------------------------------------- */
/* main nav */

.header-main-nav > li > a {
  padding: 25px 25px;
  line-height: 30px;
  font-size: 18px;
}

.header-tools .sign-nav {
  text-align: right;
  font-size: 12px;
}
.sign-nav > li > a {
  padding: 25px 10px;
  line-height: 30px;
  font-size: 12px;
}
.navbar-default .sign-nav > li > a:hover {
  background-color: #e7e7e7;
}

