
a:hover{text-decoration: none;}
.container {
  width: 1170px !important;

}
.home-area-header{ padding-top:30px;}
.home-area-header .home-about-intror{ padding-left:0;}
.home-area-header .home-about-intro h3{
  font-size:28px;
  font-weight:normal;
  margin-top:0;
  margin-bottom:20px;
}
.home-area-header .home-stat {
  border: 1px solid #ccc;
  padding:5px 0 10px 20px;
  border-radius:6px;
}
.home-area-header .home-stat dl{
  margin-top:0;
  -webkit-margin-after: 0;
  margin-bottom:10px;
}
.home-area-header .home-stat dt{
  font-weight:600;
  font-size: 28px;
  color: #ff6600;
}
.home-area-header .home-stat p a{
  padding-top:20px;
  padding-left:5px;
  color:#555;
}
.home-safe-tips{ padding-bottom:50px;}
.home-safe-tips .home-safe-icon {
  display: block;
  width:120px;
  height:90px;
  background: image_url("main/subject.png");
}
.home-safe-tips .home-safe-icon-safe{ background-position:0 0;}
.home-safe-tips .home-safe-icon-earnings{ background-position:400px 0;}
.home-safe-tips .home-safe-icon-novice{ background-position:270px 0;}
.home-safe-tips .home-safe-icon-redemption{ background-position:120px 0;}
.home-safe-tips span{ margin-left:35px;}
.home-safe-tips h4{ font-size:20px; padding-top:20px; padding-bottom:10px;}
.home-safe-tips p{ padding-right:21px;}
.home-safe-tips .news-box{ padding-left:0;}
.home-safe-tips .news-box .panel-heading{padding: 15px 15px;}
.home-safe-tips .news-box .panel-heading .panel-title{ font-size:18px;}
.home-news{ padding-top:0;}
.home-news li{
  padding-left:15px;
  background: image_url("main/home-icon2.jpg") no-repeat;
  height:25px;
}
.home-news li a{
  color:#555;
}
.home-safe-tips .news-box .panel-heading h3 span{
  margin-left:90px;
  font-size:14px;

}
.home-safe-tips .news-box .panel-heading h3 span a{
  color:#0099cc;
}
.home-area-header{
	margin:80px 0 30px 0;
}

.home-area-header p{
	color: #999;
}

.home-area-header .home-about-intro{
	padding-right:50px;
}
.home-area-header .home-about-intro h3{
	color:#333;
	margin:0;
}
.home-area-header .home-about-intro p{
	margin-top:12px;
}

.home-area-header .home-stat{

}
.home-area-header .home-stat strong{
	font-weight:normal;
	font-size:22px;
	color:#ff6600;
}
.home-area-header .home-stat p{
	margin-top:6px;
}

.home-area-header .text-muted{ padding-left:10px; color:#000;}
.home-area-header span{ font-size:14px;}
.home-area-header strong{font-size:22px; text-align:right;}
.home-area-header .intro span{ color: #ff6600; }



.home-safe-tips{
	margin:22px 0;	
}


.home-safe-tips .media{
	min-height:120px;
  margin-top: 0px;
}
.home-safe-tips .media .intro{
	color:#999;
}.home-safe-tips .media .media-heading{
	font-size:24px;
}
.home-safe-tips .media .pull-left{
	margin-right: 40px;
}

.home-safe-tips .media .home-safe-icon {
	display:block;
	width:150px;
	height:150px;
	background: image-url("home-safe-tips-bg.png");
}

.home-safe-tips .media .home-safe-icon-safe {
	background-position: 0 0;
}
.home-safe-tips .media .home-safe-icon-earnings {
	background-position: 200px 0;
}.home-safe-tips .media .home-safe-icon-novice {
	background-position: 0 200px;
}.home-safe-tips .media .home-safe-icon-redemption {
	background-position: 200px 200px;
}




.home-safe-tips .media .more-link{
	text-align:right;
}

/*[ = Home fixed Area ]--------------------------------------*/

.home-fixed-area{}
.home-fixed-area .home-product-list{
	margin:22px 0 20px 0;
}


.home-fixed-area .item-list{
	border:2px solid #CCC;
	border-radius:10px;
	-moz-border-radius:10px; /* Old Firefox */
	background:#FFF;
  position: relative;
}
.home-fixed-area .item-list:hover{
	border:2px solid #f28558;
}


.home-fixed-area .item-list .link-block{
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9;
  width: 100%;
  height: 100%;
  text-indent: -9999em;
  overflow: hidden;
  cursor: pointer;
}

.row-delet-pading{
  margin-left: 0px;
  margin-right: 0px;
}
.home-product-list .panel .panel-heading{
	border-radius:10px 10px 0 0;
}

.home-product-list .panel .panel-heading .badge{ padding:8px; border-radius: 15px; background:#CCC; font-weight:normal;}

.home-product-list .panel .panel-footer{
  border-radius:0 0 10px 10px;
}


/*.home-product-list .item-list .number-info{	text-align:center; color:#999;}
.home-product-list .item-list .number-info strong{	font-size:150%; font-weight:normal; color: #333;}
.home-product-list .item-list .pro-info{ margin:0; }
.home-product-list .item-list .pro-info dl{ padding-left:5px; padding-right:5px; }
	.home-product-list .item-list .pro-info dl dt{ font-size:200%; font-weight:normal; }
	.home-product-list .item-list .pro-info dl dd{ color:#999; }
.home-product-list .item-list .pro-info .yidld-info{ text-align:right;}

.home-product-list .item-list .safe-info{ text-align:center;}

.home-product-list .item-list .progress-area{ }
.home-product-list .item-list .progress-area .progress-info{ color:#999; }
.home-product-list .item-list .progress-area .progress-info strong{ font-size:120%; font-weight:normal; color: #333; }

.home-product-list .item-list .amount{ text-align:center; color:#999; }
.home-product-list .item-list .amount strong{ font-size:150%; font-weight:normal; color: #F60; }


.home-product-list .item-list .panel-footer{ text-align:right;}*/

.home-product-list .item-list .number-info{	text-align:center; color:#999;}
.home-product-list .item-list .number-info strong{	font-size:150%; font-weight:normal; color: #ff6600;}
.home-product-list .item-list .pro-info{ margin:0; border-bottom:1px solid #e0e0e0;}
.home-product-list .item-list .pro-info dl{ padding-left:5px; padding-right:5px;}
.home-product-list .item-list .pro-info dl:first-child{ border-right:1px solid #e0e0e0;}
.home-product-list .item-list .pro-info dl dt{ font-size:200%; font-weight:normal; color:#ff6600;}
.home-product-list .item-list .pro-info dl dd{ color:#999; }
.home-product-list .item-list .pro-info .yidld-info{}

.home-product-list .item-list .safe-info{ color:#555; margin:10px 10px 20px 10px; line-height:20px;}

.home-product-list .item-list .progress-area{ padding-left: 10px;  padding-right: 10px;}
.home-product-list .item-list .progress-area .progress{height: 18px; border-radius: 10px;  margin-right:10px; margin-bottom:10px;}
.home-product-list .item-list .progress-area .progress-info{ color:#555; padding-bottom:5px;}
.home-product-list .item-list .progress-area .progress-info strong{ font-size:100%; font-weight:normal; color: #555; }
.home-product-list .item-list .progress-area .progress-bar-success{background-color: #9eca2f;}

.home-product-list .item-list .amount{ text-align:center; color:#999; }
.home-product-list .item-list .amount strong{ font-size:150%; font-weight:normal; color: #F60; }

.home-product-list .item-list .panel-footer{padding: 0px 0px; border-top: 0px solid #ddd;}
.home-product-list .item-list .panel-footer a{ padding-right:20px;}
.home-product-list .item-list .panel-footer .btn{ border-radius:0px 0px 7px 7px;}
.home-product-list .item-list .panel-footer .btn-success{ background-color: #00a3d9;
  border-color: #00a3d9;}


/*[ = Home month Area ]--------------------------------------*/
/*.home-month-area{}
.home-product-list .pro-title{ font-size:120%; font-weight:normal; }
.home-product-list .pro-title .badge{ padding:8px; border-radius: 15px; background:#CCC; font-weight:normal;}
.home-product-list .table-list .safe-info{ margin:12px 0; }
.home-product-list .table-list .select-col{ text-align:right;}*/

.yyy-list{
  border:1px solid #e5e5e5;
  background-color:#f7fdff;
  margin-top:20px;
  border-radius: 4px;
}
.yyy-list:hover{
  border:1px solid #f28558;
}
.home-product-list  .table > tbody > tr > td{
  border-top:0px solid #f28558;
  padding-top: 0px;
}
.yyy-list-progress{
  border-right:1px dashed #069;
  margin-top:10px;
  margin-bottom:10px;
  padding-left:0px;
  padding-right:20px;

}
.yyy-list-progress .yyy-h4{ color: #069;}
.yyy-list-progress .yyy-danbao{padding-left:20px; font-size: 14px;
  color: #555;}
.yyy-list-btn{
  padding: 2px 4px;
  background:#0099cc;
  color: #2A6496;
}
/*.home-product-list .table-list .td-list  dl{ padding-top:15px;}
.home-product-list .table-list .td-list .dl-horizontal dt{ width:130px; font-weight:normal; padding-top:5px;}
.home-product-list .table-list .td-list .dl-horizontal dd{ margin-left:135px;color: #ff6600; font-size:18px; padding-top:2px;}*/
.home-product-list .table-list .td-list .dl-horizontal dt{ width:84px; font-weight:normal; padding-top:5px;}
.home-product-list .table-list .td-list .dl-horizontal dd{ margin-left:90px;color: #ff6600; font-size:18px; margin-right:30px; padding-top:3px;}
.yyy-product-progress{ margin-top:15px;}
.yyy-product-progress .progress{ height: 15px;
  border-radius: 10px;}
.progress-digit{padding-left: 0px;}
.yyy-product-progress ul{ padding: 20px 0px 0 0px; padding-left: 0px;}
.yyy-product-progress .btn-primary{background-color: #00a3d9;border-color: #00a3d9;}
.yyy-product-progress .time-icon{ padding-bottom:10px; text-align:center;}

.yyy-list-progress .td-list{float: left;}
.yyy-list-progress dl{ padding-top:15px;}
.yyy-list-progress dt{ width:130px; font-weight:normal; padding-top:5px;}
.yyy-list-progress dd{ margin-left:135px;color: #ff6600; font-size:18px; padding-top:2px;}
.yyy-list-progress .zyzq-h4{ text-align: left; padding-left: 35px; margin-bottom: 0px;}
.yyy-list-progress .danbao{ text-align: left; padding-top: 20px; padding-left:35px; min-width: 108px;}

.footnav-findpasswordbj .footer-address img{ margin-top:10px; margin-bottom:20px;}


.home-product-list .yyy-list-titlogo{ background-color:#f2f2f2; height:132px; text-align:center; width:150px; padding-top:25px; margin-right:38px;}
.progress{
  border-radius:10px;
}

.progress-bar-success {
  background-color: #9eca2f;
}
.yyy-list-progress .yyy-transfer{
  padding-left:0px;
}
.home-onsale-area{ margin-bottom: 30px;}
.home-onsale-area .td-list{ float:left; margin-bottom:10px;}
.home-onsale-area .zyzq-transfer .td-list .dl-horizontal dt{width: 100px; font-weight:normal; padding-top:5px;}
.home-onsale-area .zyzq-transfer .td-list .dl-horizontal dd{margin-left: 100px; padding-right:25px;color: #ff6600; font-size:18px;}
.home-onsale-area .table>tbody>tr>td{border-top: 0px solid #ddd; padding: 0px;}
.zyzq-transfer .danbao{
  text-align: left;
  padding-top: 20px;
  min-width: 180px;
}
.home-onsale-area .container{ padding-left: 15px; padding-right: 15px;}
.home-onsale-area .yyy-list{margin-bottom: 0px;}
















