.glyphicon-list-alt {
  top:3px;
}

.glyphicon-usd {
  top:2px;
}



.glyphicon-credit-card{
  top:2px;
}

.glyphicon-tasks{
  top:3px;
}


.glyphicon-refresh{
  top:2px;
}

.glyphicon-check{
  top:3px;
}

.glyphicon-retweet{
  top:3px;
}