// Place all the styles related to the invests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* CSS Document */


.invests-select-area{
  padding:50px 0;
}

.invests-select-area .select-item{
  position: relative;
  border-width:2px;
}
.invests-select-area .select-item:hover{
  border-color: #f28558;
}
.invests-select-area .link-block{
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9;
  width: 100%;
  height: 100%;
  text-indent: -9999em;
  overflow: hidden;
  cursor: pointer;
}
.invests-select-area .select-item .panel-heading{
  min-height:150px;
  padding-left:15%; 
  padding-top:20px;
  border:0 none;
  background: transparent;
}
.invests-select-area .select-item .panel-heading img{
  float:left;
  height:120px;
  margin-right:20px;
}
.invests-select-area .select-item .panel-heading p{
  float:left;
  margin-top:30px; 
  font-size:260%;
  color:#428bca;
}

.invests-select-area .select-item .panel-body{
  min-height:200px; 
  padding:0 15%;
  margin-top:10px;
}
.invests-select-area .select-item .panel-body p{
  line-height:150%;
}
.invests-select-area .select-item .panel-body .more-link{
  margin-top:30px;
}

.invests-select-area .select-item .panel-footer{
  padding:12px 15%;
  color:#999;
}
.invests-select-area .select-item .panel-footer strong{
  font-size:120%;
  font-weight:normal;
  color:#333;

}




.advantage-area{}

.advantage-box{ padding:120px 0; font-size:150%;}



.products-list-area{
  margin:30px 0;
  min-height:650px; 
}

.invest-list-frame{
  padding:15px 0 30px 0;
  background-color: #fff;
  border:1px solid #d2d2d2;
  border-radius: 10px;
  /* -webkit-box-shadow: none; */
  box-shadow: none;
  margin-bottom: 4%;
  
}

.invest-pager{
  background: #ffffff;
}



.products-list-area .badge{ padding:8px; border-radius: 15px; background:#CCC; font-weight:normal;}
.products-list-area .table th, .products-list-area .table td{ padding: 22px 15px; }






.invests-other-info{
  margin:50px 0;
}

.invests-other-info .info-area{
  min-height:500px; 
  
}
.invests-other-info .tab-pane{
  padding: 22px 0;
}
.invests-other-info .tab-pane h4 .text-muted{
  margin-left:8px; 
}
.invests-other-info .tab-pane dl{
}

.invests-other-info .tab-pane dt{
  font-size:120%;
  color:#999;
  font-weight:normal;
}

.invests-other-info .tab-pane dd{
  color:#666;
  margin-bottom:22px;
}











.wytz{
  margin-top:5px;
  margin-left: 0;
  margin-right: 0;
  vertical-align: middle;
}
.header{
  background-color:#428bca;
}


.headerp{
  font-size:14px;
  color:#fff;
  margin-bottom:10px;
  margin-top:10px;
}

.span9 h1{
  color:#fff;
font-size:22px;
  margin-bottom:5px;
}
.btn-default {
  color: #1bb3da;
}

.icn {
  margin-top:40px;
}
.icn img{
  float:left;
  margin-right:10%;
  margin-left:5%;
}
.icn p{
  margin-top:12%;
  float:left;
  color:#1fb4da;
  font-size:45px;
  font-weight: bold;
  font-family: Microsoft YaHei;
}
.icn1{
  width:80%;
  margin-top:6%;
  margin-left:5%;
}
.icn1 p{
  font-size: 14px;
  line-height:25px;
  font-family: Microsoft YaHei;
  font-weight: 300;
  color: #666;
  text-align:left;
}
.icn2{
  width:77%;
  margin-top:12%;
  margin-left:5%;
  padding:3% 0 3% 0;
  background-color:#1fb4da;
  border-radius: 4px;
}
.icn2 p{
  color:#fff;
  margin: 0 0 0;
  font-size: 16px;
  font-family: Microsoft YaHei;
}
.wytz-zs{
  background-color:#f1f1f1;
}



.wytz-dqb th {
  text-align: center;
}
.library-info {
  font-size: 15px;
  color: #000;
  font-family: Microsoft YaHei;
  padding-bottom:3%;
  border-bottom:3px solid #ddd;
}
.library-info .library-info-name{
  display: block;
  float: left;
  margin-left:12%;
}
.library-info .library-info-name1{
  display: block;
  float: left;
}

.pagination>li>a, .pagination>li>span {
  border: 0px solid #ddd;
  color: #666;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
  color: #666;
  background-color: transparent;
}
.wytz-dqbzs {
  margin-top: 0;
}

.cap img{
  float:left;
  margin-right:4%;
}
.cap p{
  margin-bottom:5px;
  color:#727272;
  font-family: Microsoft YaHei;
}




.invest_url{
  display:inline-block;
}
