/* CSS Document */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}
body {
  font-family: tahoma, Arial, Microsoft YaHei, SimSun;
  font-size: 12px;
  line-height: 1.5em;
  background-color: #f1f1f1;
}
ol, ul {
  list-style: none;
}
img {
  display: block;
  border: 0;
}
a {
  display: block;
  text-decoration: none;
}
a:focus, a:hover {
  text-decoration: none;

}
.size1of3 {
  width: 33.33333%;
}
.size1of4 {
  width: 25%;
}
.size1of5 {
  width: 20%;
}
.size1of6 {
  width: 16.66666%;
}
body {
  background-color: #f1f1f1;
}
.block1{
  margin:10px 20% 0 20%;
}
.wolwy {
  float: left;
  height: 35px;
  line-height: 35px;
  background-repeat: no-repeat;
}
.wolwy dl {
  float: left;
  height: 35px;
  font-family: "微软雅黑";
  font-size: 14px;
  color: #000;
}
.wolwy a {
  font-size: 14px;
  font-family: "微软雅黑";
  float: left;
  color: #1fb5da;
  padding-right: 10px;
}
.wolwy1 img{
  float:left;
  margin-right:4%;
}
.wolwy1 p{
  margin-bottom:5px;
  color:#727272;
  font-family: Microsoft YaHei;
}
.wolwy1 span{
  margin:20px 0 10px 0;
  color:#727272;
  font-size:24px;
  font-family: Microsoft YaHei;
}


.docs-section + .docs-section {
  padding-top: 40px;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, .lead {
  font-family: "ff-tisa-web-pro-1", "ff-tisa-web-pro-2", "Lucida Grande", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei UI", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}
.leading {
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: 200;
  line-height: 1.4;
}
.anq-licai{
  margin-bottom:30px;
}
.anq-licai img{
  float:left;
  margin-right:2%;
}
.anq-p{
  font-size:14px;
  margin-bottom:5px;
  color:#666;
  font-family: Microsoft YaHei;
}
.anq-span{
  margin-bottom:15px;
  color:#000;
  font-size:20px;
  font-family: Microsoft YaHei;
}
.anq-licai1{
  margin-bottom:30px;
}
.anq-licai1 img{
  width:77px;
  height:70px;
  margin-top:5px;
  float:left;
  margin-right:2%;
}

.wrap.credit-assign-wrap {
  background-color: #f3f3f3;
}
.wrap {
  width: 100%;
  background-color: #fff;
}
.page-header h1{
  font-size:30px;
  color:#000;
}
.page-header p{
  font-size:30px;
  color:#000;
  font-weight: bold;
}
.page-header span{
  font-size:30px;
  font-weight: normal;
}
.dqb-dcb{
  font-size:13px;
  line-height:30px;
}
.dqb-dcb1{
  text-align:right;
}
.dqb-dcb2{
  margin-left:7%;
}
.dqb-dcb1 span{
  line-height:35px;
  height:40px;
  font-size:24px;
  color:#333;
}
.dqb-dcb1 p{
  font-size:14px;
  padding-bottom:20px;
  margin:0 auto;
}
.dcb-dt-o{
  text-align:center;
}
.dcb-dt{
  width:340px;
  height:550px;
  background-color:#1fb4da;
  color:#fff;
  margin-bottom:50px;
  float:left;
  margin-right:3%;
}
.dcb-dt1{
  margin-top:20px;
}
.dcb-dt1 img{
  float:left;
  margin-right:20px;
}
.dcb-dt1 p{
  padding-top:25px;
  padding-bottom:50px;
  color:#fff;
  font-size:24px;
  font-family: Microsoft YaHei;
}
.dcb-dt2{
  margin-bottom:15px;
  text-align:center;
  color:#fff;
  font-size:21px;
  font-family: Microsoft YaHei;
}
.dcb-dt3 p{
  text-align:center;
  padding-top:25px;
  padding-bottom:50px;
  color:#fff;
  font-size:70px;
  font-family:Arial;
  font-weight: bold
}
.dcb-dt3 span{
  text-align:center;
  padding-top:25px;
  padding-bottom:50px;
  color:#fff;
  font-size:36px;
  font-family: Microsoft YaHei;
}
.dcb-dt4{
  padding-left:20px;
  font-size:21px;
  font-family: Microsoft YaHei;
  margin-bottom:25px;
}
.dcb-dt5 img{
  padding-left:20px;
  float:left;
  margin-right:40px;
}
.dcb-dt5 p{
  padding-top:5px;
  font-size:21px;
  font-family: Microsoft YaHei;
}
.dcb-dt6{
  text-align: center;
  width:290px;
  float:left;
}
.dcb-dt6-1{
  margin:20px 0 0 0;
  float:left;
  font-size:20px;
  font-family: Microsoft YaHei;
}
.dcb-dt6-2{
  width:125px;
  margin:20px;
  float:left;
}
.dcb-dt6-3{
  margin:20px 0 0 0;
  float:left;
  font-size:20px;
  font-family: Microsoft YaHei;
}
.dcb-dt7 p{
  display: block;
  padding-top:30px;
  padding-bottom:30px;
  color:#fff;
  font-size:21px;
  font-family: Microsoft YaHei;
}
.dcb-dt8{
  text-align:center;
}
.dcb-dt8-b {
  color: #1fb4da;
  font-size:18px;
}
.yyy{
  font-size:13px;
  line-height:25px;
}
.wh{
  padding-left:0px;
  padding-right:0px;
}
.wh1{

}
.tthp{
  width:100%;
  background-color:#fff;
  border: 1px solid #e7eaec;
  padding-top:50px;
}

.sidebar {
  padding-left: 10px;
  font-size: 14px;
  width: 120px;
  border-right: 1px solid;
  padding-right: 5px;
  float: left;
  background: #ccc;

}



.invest_title {
  font-size: 14px;
  color: #69737b;
  display: block;
  display: inline-block;
}

.invest_banner {
  margin-top: 20px;
  border-bottom: solid 1px;
}

.invest_balance {
  left: 600px;
  display: inline-block;
  background: #e8ecef;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding-right: 3px;
  position: relative;
}

.product {
  border: solid 1px;
  width: 440px;
  height: 400px;
  display: inline-block;
  margin: 10px;
}

.product .title {
  padding-bottom: 30px;
  padding-left: 20px;
}

.product .desc {
  margin-bottom: 30px;
}

.product .desc .item {
  padding-bottom: 5px;
}

.product .data {
  background: #f0f5f7;
  border-top: 1px solid #d3d8dc;
  text-align: center;
  height: 102px;
}

.product .more {
  text-align: center;
  padding-left: 70px;
  margin-bottom: 50px;
  width: 40%;
}

.line {
  height: 1px;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  float: left;
  background: #e7ecee;
  width: 100%;
  position: absolute;
  left: 0;
  top: 35px;
}

.fixeddep_table {
  border: solid 1px;
  margin-top: 20px;
}

.table_head {
  font-size: 13px;
  background: #f0f5f7;
  height: 50px;
  color: #8a949c;
  list-style: none;
  padding-top:15px;
}

.charge_field{
  margin-top:20px;
  padding-left:30px;
}

.detail_container{
  margin-top:20px;
}

.head_col{
  display:inline-block;
  margin-right:30px;
}

.list_item{
  margin-top:10px;
}

.fixed-deposits{
  padding-left:60px;
}

.table_cell{
  display: inline-block;
  margin-right:30px;
  padding-left:20px;
}

.col1 {
  width: 15%;
}

.col2 {
  width: 15%
}

.col3 {
  width: 15%;
}

.col4 {
  width: 10%;
}

.col5 {
  width: 10%;
}

.col6 {
  width: 10%;
}

.header-tools .hotline {
  color: darkorange;
  font-size: 16px;
}

.balance .balance_title {

}

.balance .balance_amount {

}

.account {
  padding-top: 10px;
}

.sidebar .menuitem {
  margin: 0;
  text-indent: 0;
  list-style: none;
  padding-bottom: 4px;
  padding-top: 4px;
}

.sidebar .invest {

}

.security {
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid;
}

.balance {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid;
  padding-left: 20px;
}

.security .greeting {
  color: darkslategrey;
  padding-bottom: 10px;
  font-size: 14px;
}

.security .auth {
  color: darkgreen;
  padding-bottom: 10px;
  font-size: 14px;
}

/*.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}*/

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  background-color: #f1f1f1;
}


/* Pooul themes Style ==================================================================== */

@media (min-width: 1280px) {
  .primary-container {
    -webkit-box-shadow: 0 -30px 30px -4px #999;
    -moz-box-shadow: 0 -30px 30px -4px #999;
    box-shadow: 0 -30px 30px -4px #999;
    margin: 0 auto;
    max-width: 978px;
    max-width: 1280px;
    min-height: 500px;
  }
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}



/* Error explanation styles
-------------------------------------------------- */
/* error info */

#error_explanation {
  color: #b94a48;
}

#error_explanation h2 {
  font-size: 14px;
}

/* User signin style
-------------------------------------------------- */
/* signin */

.form-signin {
  max-width: 580px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-signin-heading {
  font-size: 24px;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin input[type="password"].password_confirmation {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.form-signin input[type="email"].singleipt {
  margin-bottom: 10px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-left: 0;
  padding-right: 0;
}

.navbar-wrapper .navbar {
  padding-left: 15px;
  padding-right: 15px;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 400px;
  margin-bottom: 0;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 400px;
  background-color: #777;
}

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
}

.carousel-caption {
  text-align: left;
}

.carousel-control {
  width: 8%;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-left: 15px;
  padding-right: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  text-align: center;
  margin-bottom: 20px;
}

.marketing h2 {
  font-weight: normal;
}

.marketing .col-lg-4 p {
  margin-left: 10px;
  margin-right: 10px;
}

/* Featurettes
-------------------------------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-left: 0;
    padding-right: 0;
  }

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .navbar-wrapper .navbar {
    padding-left: 0;
    padding-right: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }

}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}



/* Footer Style
-------------------------------------------------- */
footer#footer {

}

.auxiliary-information {
  background-color: #f9f9f9;
  border-top: 1px solid #f5f5f5;
  min-height: 100px;
}

.auxiliary-information .foot-link {
  margin: 12px 0;
}

.auxiliary-information .foot-link a:link, .auxiliary-information .foot-link a:visited {
  color: #999;
}

.auxiliary-information .foot-link a:hover {
  color: #666;
}

.footer-copyright {
  min-height: 30px;
  line-height: 30px;
  background-color: #f5f5f5;
  border-top: 1px solid #eee;
}

/* HOme Style
-------------------------------------------------- */

/* Home assist info */
.homeassist {
  margin-top: 50px;
  margin-bottom: 30px;
}

.homeassist .glyphicon {
  font-size: 128px;
  color: #a2a2a2;
}

.homeassist h2 {
  font-size: 18px;
  font-weight: normal;
}

.homeassist p {
  color: #7d7c79;
}

.home-notify {
}

.home-notify header {
  min-height: 30px;
  line-height: 30px;
}

.home-notify header h2 {
  float: left;
  margin: 0;
  padding-top: 5px;
  font-size: 18px;
  font-weight: normal;
}

.home-notify header a {
  float: right;
}

.fixed-deposits {
  background: #f1f1f1;
  border-radius: 6px 6px 0 0;
  padding: 0 18px 0 18px;
}

.fixed-deposits header {
  min-height: 50px;
  line-height: 50px;
}

.fixed-deposits header h2 {
  float: left;
  margin: 0;
  padding-top: 14px;
  font-size: 24px;
  font-weight: normal;
}

.fixed-deposits header a {
  float: right;
}

.fixed-deposits .auxiliary-info {
  clear: both;
  margin-bottom: 12px;
}

.fixed-deposits .deposit_item {
  margin-bottom: 0;
}

.fixed-deposits .deposit_item h2 {
  font-size: 14px;
  margin: 0;
}

.fixed-deposits .deposit_item h2 a {
}

.fixed-deposits .deposit_item h2 a:link, .fixed-deposits .deposit_item h2 a:visited {
  color: #666;
}

.monthly-interest {
}

.monthly-interest header {
  min-height: 50px;
  line-height: 50px;
  background: #f1f1f1;
}

.monthly-interest header h2 {
  float: left;
  margin: 0;
  padding-top: 14px;
  font-size: 24px;
  font-weight: normal;
}

.monthly-interest header a {
  float: right;
}


.tthp{
  width:100%;
  background-color:#fff;
  border: 1px solid #e7eaec;
}
.tthp>.table>tbody>tr>td{
  padding-top:40px;
  text-align:center;
  border-bottom:0px solid #ddd;
  padding-bottom:10px;
}

.yy-zgy{
  padding-left:5%;
}
.yy-zgy li{
  float:left;
}
.yy-zhuan{
  margin-left:10px;
  background-color: #999;
  border-radius: 5px;
}

.yy-yszf{
  padding-left:20%;
}
.yy-yszf li{
  float:left;
  margin-left:10px;
}

.yy-pro{
  height:15px;
  margin-bottom:10px;
}

.yy-time{
  margin-top:-5px;
}
.yy-time li{
  margin-bottom:5px;
}

.monthly-interest .auxiliary-info {
  clear: both;
  margin: 12px 0;
}

.financial-tools-area {
}

.financial-tools-area h2 {
  float: left;
  font-size: 18px;
  font-weight: normal;
}

.financial-tools-area .list-group .list-group-item .glyphicon {
  float: left;
  margin-right: 12px;
  font-size: 38px;
}

.financial-tools-area .list-group .list-group-item h4 {
  margin-top: 3px;
}

.safety-tips {
  margin: 50px auto;
}

.safety-tips ul li {
  font-size: 18px;
  min-height: 60px;
  line-height: 60px;
  margin-right: 8px;
}

.safety-tips ul li .glyphicon {
  margin-right: 8px;
  font-size: 36px;
  position: relative;
  top: 10px;
}


