/* CSS Document */
.guide-banner {
  width: 100%;
  height: 400px;
  background: image_url("main/guide-banner.jpg") no-repeat center center;
}
.guide-meet{ margin-top:80px; margin-bottom:80px;}
.guide-meet h2{ color:#0099cc; font-size:48px; font-weight:bold;}
.guide-meet .page-header {
  width:350px;
  border-bottom: 1px solid #addfef; margin-top:0px;
}
.guide-meet .guide-title{ }
.guide-meet .guid_cont .media{ padding-top:100px;}
.guide-meet .guid_cont .media .media-object{ border:3px solid #9fc830; border-radius:10px;}
.guide-meet .guid_cont .media .media-body{ padding-left:20px; width:240px;}
.guide-meet .guid_cont .guid_contright{ padding-left:45px;}
.guide-product .guide-title{ padding-top:40px; padding-bottom:50px;}

.earnings{background: image_url("main/benefits-bj.png");}
.earnings .yield img{ width:100%; height:600px; min-width:1170px;}
.earnings .whysy-title{ margin-top:100px; margin-bottom:100px;}
.earnings .whysybody{margin-bottom:240px;}
.earnings .whysy{margin-top:20px;}
.earnings .whysy h3{ color:#00a3d9;}
.earnings .whysy p{ text-align:left;padding-right:10px; padding-left:35px;}

/* insurance  */
.insurance .fund-title{ margin-top:80px; margin-bottom:80px;}
.insurance .fundsafety h4{ font-size:24px; color:#00a3d9; margin-bottom:20px;}
.insurance .fundsafety p{padding-left:30px; padding-right:30px; font-size:16px; color:#333; line-height:25px; min-height:180px;}
.insurance .fundtu{ text-align:center; margin-bottom:50px;}
.insurance .privacysa-safety img{ margin-bottom:68px;}
.insurance .privatext-safety{ margin-top:50px;}
.insurance .privatext-safety h4{ font-size:24px; color:#00a3d9; margin-bottom:20px;}
.insurance .privatext-safety p{padding-left:30px; padding-right:30px; font-size:16px; color:#333; line-height:25px;}
.insurance .privatextwo-safety{ margin-top:100px;}
.insurance .fundsafety p span{ font-size:24px; color:#00a3d9;}

/*  redemption  */
.redemption{ background-color:#fff;}
.redemption .redempone{ margin-top:190px; margin-bottom:100px;}
.redemption .redemponetit{ margin-top:100px;}
.redemption .redemponetit img{ float:left; margin-right:30px;}
.redemption .redemponetit h3{ color:#00a3d9; font-size:28px;}
.redemption .redemponetit h3 span{ color:#333; font-size:18px; font-weight:bold;}

.redemption .redemptwo{ padding-top:150px; padding-bottom:100px; background-color:#e0f4fd;}
.redemption .redemptwotit{ padding-left:210px; margin-top:150px;}
.redemption .redemptwotit img{ float:left; margin-right:30px;}
.redemption .redemptwotit h3{ color:#00a3d9; font-size:28px;}