
.product-info-area{}









.model-box .expl {}
.expl img{
  float:left;
}
.expl li:last-child p{
  color:#1fb4da;
}
.ratio-per li{
  border-left: 0px solid #d3d8dc;
  padding-right:0px;
  padding-left:5px;
}

.ratio-per li:last-child{
  margin-left:0px;
}

.ratio-per li:first-child{
  border-left: 0 dashed black;
}








.model-box{}

.model-box .head {}
.model-box .panel-heading{
  min-height:40px
}
.model-box .panel-body{
  min-height:260px
}

.model-box .dl-horizontal{
  margin-top:22px;
}
.model-box .dl-horizontal dt{
  width:120px;
  font-weight:normal;
  color:#999;
}
.model-box .dl-horizontal dd{
  margin-left:140px;
}

.model-box .funds-ord{
  padding:0 18px;
}

.model-box .profit {

  position: relative;
}


.model-box .profit dt {
  font-size:14px;
  font-weight:normal;
  color:#999;
}
.model-box .profit dd {
  font-size: 20px;
  left: 40px;
  top: 20px;
  padding: 0;
  min-height:50px;
}

.model-box .profit ins {
  color: #a1acb4;
  text-decoration: none;
  font-size:200%;
  font-weight:normal;
}
.model-box .profit em {
  font-family: Tahoma,Geneva,sans-serif;
  font-size: 200%;
  font-style:normal;
}
.model-box .profit span {
  color: #1fb4da;
}

.model-box .working-day {
  padding: 30px 0 28px 30px;
  height: 50px;
  color: #8a949c;
}
















.transfer{
  background-color:#fff;
  padding-bottom:2%;
  padding-top:1.5%;
  min-height:870px;
}


.transfer1 p{
  font-size:14px;
  margin-bottom:2%;
}
.transfer1 span{
  margin-right:10px;
}
.transfer2{
  width:100%;
  background-color:#fff;
  border: 1px solid #e7eaec;
}
.transfer2>.table>tbody>tr>td{
  padding-top:20px;
  text-align:center;
  border-bottom:1px solid #ddd;
}
.transfer2>.table{
  margin-bottom: 0px;
}
.transfer2>.table>thead>tr>th {
  padding: 15px;
  text-align: center;
}
.transfer2 thead {

  background-color:#A6E9F4
}
.transfer2-pro{
  float:left;
}
.transfer-table{
  margin-bottom: 0px;
}
.transfer-time{
  margin-top:-5px;
}
.transfer-time li{
  margin-bottom:5px;
}
.transfer-time span{
  padding-left:10px;
}

.transfer-time li>.btn-info{
  background-color: #a1acb4;
  border-color: #a1acb4;
}
.transfer-paging{
  text-align:center;
}




.doned-left li>.btn-block{
  margin-top:10px;
  margin-left:10px;
  width: 90%;
  margin-bottom:20px;
}
.doned-left li>.btn-lg{
  margin-top:10px;
  line-height: 15px;
  font-size:14px;
}
.doned-left li>.btn-primary{
  background-color: #1fb4da;
  border-color: #1fb4da;
}

.dqbxq{
  border: 0px solid grey;
  padding-left: 10px;
  margin-left: -15px;
}

.dqbxq-border{
  border: 0px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
//  margin-top:20px;
  width:100%;
}
.dqbxq>.nav-tabs{
  width:100%;
}
.dqbxq-border>thead>tr>th, .dqbxq-border>tbody>tr>td{
  font-size:14px;
  min-width:150px;
  border-bottom:0;
  border-left:0;
  padding-top:2%;
  padding-bottom:2%;
}
.dqbxq-border>thead>tr>th:first-child, .dqbxq-border>tbody>tr>td:first-child{
  text-align:center;
}
.dqbxq-border>thead>tr>th:last-child, .dqbxq-border>tbody>tr>td:last-child{
  padding-left:20px;
  border-right:0;
}
.dqbxq-jrjl{
  width:100%;
//  margin-top:20px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.dqbxq-jrjl>thead>tr>th, .dqbxq-jrjl>tbody>tr>td{
  text-align:center;
  border-bottom: 0px solid #ddd;
}
.dqbxq-jrjl>thead{
  margin-top:10px;
}

.dqbxq-jrjl>tbody>tr>td span{
  color: #1fb4da;
}
.dqbxq-cost li p, .dqbxq-cost li a{
  float:left;
}

.wytz .span9 {
  width: 75%;
}

.span-inline
{
  display:inline-block;
  padding-left:0;
  margin-top:10px;
}

.span-balance{
  margin-bottom: 10px;
  vertical-align: middle;
}



.product-title{
  margin-left:10px;
  padding-top:8px;
  display: inline-block;
  vertical-align: middle;
}

.tab-item{
  font-size:14px;
}


#profit_value{
}

#profit_rate{
  display: none;
}

#flash-message{
  width:35%;
  display:none;
}

.flash_all{padding-top:5px;
  padding-left:5px;
  padding-bottom:5px;
  font-size:15px;
  border-radius: 5px;
  text-align: center
}

.flash_notice{
  background-color: black;
  color: white;
}

.flash_success{
  background-color: green;
  color: white;
}