
.products-list-area {
  margin: 30px 0;
  min-height: 650px;
}
.invest-list-frame {
  background-color: #fff;
  border: 1px solid #d2d2d2;
  border-radius: 4px;
  box-shadow: none;
}
.invest-list-frame .table{margin-bottom: 0px;}
.invest-list-frame .table>caption{ text-align:left; background-color:#f0f0f0; border-radius: 4px 4px 0px 0px; height:70px; margin-bottom:20px; padding-left:30px;}
.invest-list-frame .table>caption h3{ float:left;}
.invest-list-frame .table>caption>button{ margin-left:20px; margin-top:23px;}
.invest-list-frame .table>caption .btn-primary{background-color: #00a3d9;
  border-color: #00a3d9;}
.invest-list-frame .table>thead>tr>th, .invest-list-frame .table>tbody>tr>td{ text-align:center; font-weight:normal;}
.invest-list-frame .table>thead>tr>th {border-bottom: 1px solid #ddd; font-size:16px; padding-bottom:10px;}
.table>tbody>tr>td{ text-align:center; font-weight:normal; color:#555; padding-top:20px; border-top:0px; border-bottom:0px solid #ddd;}
.invest-list-frame .table>tbody>tr>td .badge{background-color: #00a3d9;padding: 5px 6px;}
.invest-list-frame .table>tbody>tr>td a{color: #00a3d9;}
.invest-list-frame .table>tbody>tr>td .col-xs-9{padding-right: 0px; padding-top:2px;}
.invest-list-frame .table>tbody>tr>td .col-xs-3{ color: #333;}
.invest-list-frame .table>tbody>tr>td .progress{height: 14px;border-radius: 10px;color: #333;}
.invest-list-frame .table>tbody>tr>td .btn-primary{background-color: #00a3d9;
  border-color: #00a3d9;}
.invest-list-frame .table>tbody>tr>td .standard{background-color: #ccc;
  border-color: #ccc;}
.invest-list-frame .table>tbody>tr>td .btn-sm{padding: 5px 20px; min-width:90px;}
.invest-list-frame .pagination>li>a{
  background-color: #e2e2e2;margin-right:10px; border-radius:4px; color:#adacac;
}
.invest-list-frame .pagination>li>a:hover{
  background-color: #00a3d9; color:#fff;
}

.transfer {
  background-color: #fff;
  padding-bottom: 2%;
  padding-top: 1.0%;
  min-height: 870px;
}
.panel-default>.panel-heading {
  color: #333333;
  background-color: whitesmoke;
  border-color: #dddddd;
  height: 50px;
}
.model-box .profit {
  position: relative;
}
.model-box .profit .block-area {
  border-right: 0px solid #CCC;
}
.model-box .profit dt {
  font-size: 14px;
  font-weight: normal;
  color: #999;
}
.model-box .profit dd {
  font-size: 20px;

}
.model-box .profit ins {
  color: #555;
  text-decoration: none;
  font-size: 150%;
  font-weight: normal;
}
.model-box .profit em {
  font-family: Tahoma,Geneva,sans-serif;
  font-size: 36px;;
  font-style: normal;
  color:#555;
  font-weight:700;
}
.model-box .profit span {
  font-size:150%;
  color: #555;
  font-weight:700;
}
.model-box .working-day span {
  color: #ff6600;
}
.model-box .working-day { margin-top: 15px; margin-bottom: 35px;
}
.model-box .pubdate{ border-top:1px solid #ddd; padding-top: 20px; padding-bottom: 5px;}
.model-box .pubdate dl{
  margin-bottom: 0px;
}
.model-box .pubdate dt{
  width: 85px;
  text-align:left;
  font-weight: normal;
}
.model-box .pubdate dd{
  margin-left: 0px;
}
.model-box .panel-footer{background-color: #fff;padding: 15px 15px;}
.model-box .panel-footer .col-xs-4{padding-right: 0px;}
.model-box .panel-footer .col-xs-5{padding-right: 0px; padding-left: 0px;}
.model-box .panel-footer .col-xs-5 .progress{ height:15px; border-radius:10px; margin-top:3px;margin-bottom: 0px;}

.model-box .doned .input-group .input-group-addon {
  background-color: #fff;
}
.model-box .doned .dl-horizontal {
  margin-top: 10px;
  margin-bottom: 0px;
}
.model-box .panel-heading h3{ font-weight: bold;  padding-top: 5px;}
.modedqb .model-box .panel-heading span{ font-size: 14px; padding-left: 100px; font-weight: normal;}
.model-box .doned li { float:left;
}
.model-box .doned .change-codecol { padding-right: 0px; padding-top: 20px;
}
.model-box .doned .change-codecol9 { padding-left: 0px; padding-right: 0px; padding-top: 10px;
}
.model-box .doned .simple_captcha { margin-left:0px;
}
.model-box .doned .simple_captcha .form-control { width: 90%;
}
.model-box .doned .simple_captcha .simple_captcha_image {  padding-top: 5px;
}

.findpasswordone .fingyanzhengma .simple_captcha_image{padding-left: 20px;}
.model-box .doned .simple_captcha .simple_captcha_refresh_button { padding-top: 5px;
}
.model-box .doned .dl-horizontal dt{ width:100px; text-align:left; font-weight:normal; padding-top:10px;}

.model-box .doned .dl-horizontal dd{margin-left: 0px;padding-top:10px;
}
.simple_captcha .simple_captcha_field, .simple_captcha .simple_captcha_image {
  margin: 0px 0px 2px 0px !important;
  padding: 0px !important;
}
.simple_captcha_refresh_button {
  padding-left: 5px;
}
.product-details {
  border: 0px solid grey;
  margin: 30px 0;
}
.lab-val {
  padding: 0px 15px 30px 15px;
  border: 1px solid #E7ECEE;
  border-radius:0px 5px 5px 5px;
}
.lab-val-fixed_item-next1{padding: 0px 0px 10px 0px; margin-top:1px;
}
.lab-val .col-xs-12, .lab-val .col-xs-4, .lab-val .col-xs-8 {
  padding-left:25px;
  padding-top:5px;
  min-height: 45px;
  line-height: 35px;
  overflow: hidden;
  float: left;
  border-bottom:1px solid #dbdfe0;
}
.lab-val .col-xs-4 { border-right:1px solid #dbdfe0;
}
.lab-val .col-noborder { border-right:0px solid #dbdfe0;
}
.lab-val .boder-color { background-color:#f7fdff;
}
.product-details .nav-tabs{border-bottom: 0px solid #ddd;}
.product-details ul{
  -webkit-margin-before: 0em;
}
.product-details .nav-tabs>li.active>a{
  border-radius: 5px 5px 0 0;
  font-size:18px;
}
.nav-tabs>li>a {
  border-radius: 5px;
  font-size:18px;
}
.product-details .lab-val .item .table-bordered>thead>tr>th{border-bottom-width: 0px;}
.product-details .lab-val .wyrecord{
  padding-top:10px; margin-bottom:10px; border-bottom:0px solid #dbdfe0;}
.product-details .lab-val .table>thead>tr>th{ font-weight:normal;background-color:#f7fdff; text-align:center;}
.product-details .lab-val .table>tbody>tr>td{ text-align:center;}

.product-details-jrjl {
  width: 100%;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.product-details-border {
  border: 0px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  width: 100%;
}
.product-details-border>thead:first-child>tr:first-child>th {
  border-bottom: 0px solid #ddd;
  border-top: 1px solid #ddd; border-bottom: 1px solid #ddd;  height:45px; text-align:center; font-weight:normal;
}
.product-details-border>tbody>tr>td{height:45px;text-align:center; border-bottom: 1px solid #ddd;}
.product-details-border>tbody>tr:nth-child(odd)>td{
  background-color: #f7fdff;
}
.product-details-jrjl .pagination>li>a{
  background-color: #e2e2e2;margin-right:10px; border-radius:4px; color:#adacac;
}
.product-details-jrjl .pagination>li>a:hover{
  background-color: #00a3d9; color:#fff;
}
.product-details-border>tbody>tr>td span {
  color: #1fb4da;
}

.lab-val .col-md-2 {
  border-right: 1px solid #dbdfe0;
  text-align: right; padding-right:20px;
}
.product-details .lab-val-fixed_item-next1 .table>tbody>tr>td:first-child { width:150px; border-right:1px solid #E7ECEE; text-align:right; padding-right:15px;color: #555;
}
.product-details .lab-val-fixed_item-next1 .table>tbody>tr>td { border-top:0px solid #ddd; padding-top:15px; padding-left:15px;border-bottom:1px solid #ddd; height:55px;text-align:left;color: #555;
}
.lab-val-fixed_item-next1 .table-striped>tbody>tr:nth-child(odd)>td{
  background-color: #f7fdff;
}
.lab-val-fixed_item-next1 li{
  float: none;
  padding-top: 0px;
  min-height: 0px;
  border-bottom: 0px solid #dbdfe0;
}
.product-info-area .model-box{
  min-height: 348px;
}

.index-item {
  color: white !important;
}

#flash-message{
  width:32%;
  display:none;
}

.flash_all{padding-top:5px;
  margin-top:8px;
  padding-left:5px;
  padding-bottom:5px;
  font-size:15px;
  border-radius: 5px;
  text-align: center
}

.flash_notice{
  background-color: #1fb5da;
  color: white;
}

.flash_success{
  background-color: green;
  color: white;
}

#profit_value{
  display:inline
}

#profit_rate{
  display:none
}

.investor{
display:none
}
.zyzqxq ul{ border-right:1px solid #d3d8dc;}
.zyzqxq .lastboul{ border-right:0px solid #000;}
.zyzqxq li button{ margin-bottom:40px;}
.zyzqxq .zyzqxq-message{ padding-left:30px; padding-top:20px;}
.zyzqxq .zyzqxq-message li{ margin-bottom:20px; color:#555; padding-left:20px;}
.zyzqxq .pro-user li dl{ margin-top:10px; margin-bottom:10px; padding-left:30px;}
.zyzqxq .pro-user li dt{color:#555; font-weight:bold;}
.zyzqxq .pro-user li dd{ font-size:16px; padding-top:5px; }
.zyzqxq .pro-user li dd span{color: #fc8936;font-size:16px;}
.zyzqxq .pro-user .pro-user-bod{border-bottom:1px dashed #d3d8dc;}
.product-info-area .zyzqxq-modelbox .zyzqxq-Purpose{ margin:20px 20px 20px 20px;}
.product-info-area .zyzqxq-modelbox{ margin-bottom:0px;}
.product-info-area .zyzqxq-modelbox .panel-footer{ padding-top: 5px; padding-bottom: 0px;}
.modedqb .zyzqxq-modedqb{ margin-bottom:0px; min-height:344px;}
.modedqb .zyzqxq-modedqb .zyzqxq-group{font-size:16px;}
.modedqb .zyzqxq-modedqb .zyzqxq-group span{ font-size:20px; color: #fc8936; padding-left:3px;}

