.fixed-deposits
  %header
    %h2 
      %span.glyphicon.glyphicon-repeat
      转让专区
    = link_to '更多', stocks_path
  .auxiliary-info.text-muted
    投资转让项目获得更短的期限、更高的收益率，其他投资人转让月息通或定存宝后，专区项目会随时更新
  = render 'stocks/top_list'