- if current_user
  %a.btn.btn-default.pull-right{:href => usercenter_console_charge_bank_path}
    账户余额:
    =current_user.user_info.account.balance
- else
  %a.btn.btn-default.pull-right{:href => new_user_session_path}
    您尚未登录