- menu_key = current_main_menu
/ Static navbar
%header
  .global-wrap
    .container
      .global-nav
        %p.navbar-text
          %span
            %img{:src => image_url("main/home-phone.jpg")}/
          客服热线：
          %span 400-103-3755
        .navbar-right
          = render 'shared/login_status'
  .navbar.navbar-default.navbar-static-top.header-top.subnav-wrap
    .container
      .navbar-header
        %a.navbar-brand{:href => "/"}
          %img{:alt => "沃银金融", :src => "http://alpha.wooul.com/system/cms/files/files/000/000/006/original/wooul-logo.png"}/
      .navbar-collapse.collapse
        %ul.nav.navbar-nav.header-main-nav
          %li{class: ('active' if menu_key == 'home' )}
            %a{:href => "/"} 首页
          %li{class: ('active' if menu_key == 'invest'  )}
            %a{:href => "/invests"} 我要投资
          %li{class: ('active' if menu_key == 'account' )}
            %a{:href => usercenter_console_overview_path} 我的帐户
          %li.dropdown{class: ('active' if menu_key == 'about' )}
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              关于我们
              %b.caret
            %ul.dropdown-menu
              %li
                %a{:href => "/about/company"} 沃银简介
              %li
                %a{:href => "/about/contact"} 官方公告
              %li
                %a{:href => "/about/contact"} 联系我们
              %li.divider
              %li
                %a{:href => "/topics/novice"} 新手指南
              %li
                %a{:href => "/support/producthelp"} 产品介绍
