- menu_key = current_main_menu
/ Static navbar
%header.navbar.navbar-default.navbar-static-top.header-top
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "/"}
        %img{:alt => "沃银金融", :src => "/system/cms/files/files/000/000/002/original/wooul-logo.png"}/
    .navbar-collapse.collapse.navbar-right
      %ul.nav.navbar-nav.header-main-nav
        %li{class: ('active' if menu_key == 'home' )}
          %a{:href => "/"} 首页
        %li{class: ('active' if menu_key == 'invest'  )}
          %a{:href => "/invests"} 我要投资
        %li{class: ('active' if menu_key == 'account' )}
          %a{:href => usercenter_console_overview_path} 我的帐户
        %li.dropdown{class: ('active' if menu_key == 'about' )}
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            关于
            %b.caret
          %ul.dropdown-menu
            %li
              %a{:href => "/about/company"} 沃银网介绍
            %li
              %a{:href => "/about/contact"} 联系我们
            %li
              %a{:href => "#"} Something else here
            %li.divider
            %li.dropdown-header Nav header
            %li
              %a{:href => "#"} Separated link
            %li
              %a{:href => "#"} One more separated link
.header-tools
  .container
    .row
      .col-md-6
        .hotline
          %span.glyphicon.glyphicon-earphone
          %span.hottitle 客服热线
          %span.numbers 4001-033-755
      .col-md-6
        = render 'shared/login_status'

