%table.table
  %tr
    %th 名称
    %th 介绍
    %th 投资范围
    %th 收益方式
  %tr
    %td= obj.deposit_number
    %td= "定存宝B是沃银金融推出的对100%本息担保的借款项目进行自动投资及定时自动转让的理财计划。"
    %td= "由合作机构提供100％本息担保的借款项目，包括信用、保证、抵质押等类型"
    %td= "以下两种方式可任选一种：1、收益复投：9.38% 2、收益返还：9.00%"