%aside.sidebar
  = render "shared/secure_level"
  %ul.nav.nav-pills.nav-stacked.sidebar-nav
    %li
      %a{:href => securecenter_secure_real_name_path}
        账户实名认证
    %li
      %a{:href => securecenter_secure_confirm_path}
        账户交易认证
    %li
      %a{:href => securecenter_secure_change_phone_path}
        绑定手机
    %li
      %a{:href => securecenter_secure_change_email_path}
        更换注册邮箱
    %li
      %a{:href => securecenter_secure_change_secret_path  }
        启用密保问题