%aside.sidebar
  = render "shared/secure_level"
  .accout_ye
    我的余额
    %strong
      ￥
      = render "shared/usercenter_balance"
    %a{:href =>usercenter_console_charge_bank_path} 充值

  %ul.nav.nav-pills.nav-stacked.sidebar-nav
    - {'我的账户' => usercenter_console_overview_path,
       '系统消息' =>  usercenter_console_message_path,
       '交易记录' => usercenter_console_history_path(:filter => "all", :date_range => "all"),
       '充值提现' =>  usercenter_console_charge_path(:filter => "all", :date_range => "all"),
       '银行卡' => usercenter_console_bankcard_path,
       '资产统计' => usercenter_console_assets_analyzer_path,
       '投资记录' => usercenter_console_invest_history_path,
       '投资赎回' => usercenter_console_redemption_path,
       '借款协议' => usercenter_console_agreements_path,
       '自动投资' => usercenter_console_autoinvest_path}.each do |k, v|
      - if current_page?(v)
        %li.active
          %a{:href => v}
            = k
      - else
        %li
          %a{:href => v}
            = k