-icondict = {"我的账户" => 'user',
"系统消息" => 'envelope',
"交易记录" => 'list-alt',
"充值提现" => 'usd',
"银行卡" => 'credit-card',
"资产统计" => 'stats',
"投资记录" => 'tasks',
"投资赎回" => 'refresh',
"借款协议" => 'check',
"自动投资" => 'retweet'}
%aside.sidebar
  = render "shared/secure_level"
  %ul.nav.nav-pills.nav-stacked.sidebar-nav
    - {'我的账户' => 'overview',
       '系统消息' => 'message',
       '交易记录' => 'history',
       '充值提现' =>  'charge',
       '银行卡' => 'bankcard',
       '资产统计' =>  'assets_analyzer',
       '投资记录' => 'invest_history',
       '投资赎回' => 'redemption',
       '借款协议' => 'agreements',
       '自动投资' => 'autoinvest'}.each do |k, v|
      - if params[:action] == v
        %li.active
          %a{:href => url_for(:controller => "console", :action => v)}
            %span{:Class => "glyphicon " + "glyphicon-" + icondict[k] }
            = k
      - else
        %li
          %a{:href => url_for(:controller => "console", :action => v)}
            %span{:Class => "glyphicon " + "glyphicon-" + icondict[k] }
            = k