%section.monthly-interest
  %header
    .container
      %h2 月月盈
      = link_to '查看更多', invests_path
  .container
    .auxiliary-info.text-muted
      自主选择投资项目，每月获得等额本息回款；
      %strong 500元
      即可
      %br/
      获得理财乐趣，随时可赎回。
      %br/
      工作日
      %span.text-danger 10:30、14:30、17:30、20:00
      发布，周末随机。
    = render 'invests/top_list'
