- panel_styles = %w"panel-warning panel-success panel-info"
.deposit_item.row
  - Invest.where(:onsale =>true).limit(3).each_with_index do |obj, idx|
    = render 'invests/onsale_item', obj: obj, p_style: panel_styles[idx]

