.fixed-deposits
  %header
    %h2 
      %span.glyphicon.glyphicon-repeat
      转让专区
    = link_to '更多', onsale_invests_path
  .auxiliary-info.text-muted
    投资转让项目获得更短的期限、更高的收益率，其他投资人转让月息通或定存宝后，专区项目会随时更新
  = render 'invests/onsale_list'


.header
  .container
    .row.wytz
      .span9
        %h1
          我要投资&nbsp;/&nbsp;转让专区
        %p.lead.headerp
      .span3
        %a.btn.btn-default.pull-right{:href => new_user_session_path }
          您尚未登录
.wytz-dqb
  .container
    .invest-list-frame
      %table.table
        %thead
          %tr
            %th
              名称
            %th
              年化收益率
            %th
              期限
            %th
              进度
            %th
              剩余金额
            %th
              操作
        %tbody
          - @month_deposits.each do |obj|
            = render 'month_deposits/list_col_browser', obj: obj








