.sign-page.row
  .col-md-6.col-sm-6.sign-area
    .sign-form-area
      .login_frame
        .login_logo
          %img.logo_image{:src => image_url("http://alpha.wooul.com/system/cms/files/files/000/000/006/original/wooul-logo.png")}
        .login-form-area
          = form_for(resource, :as => resource_name, html: {class: "form-signin"}, :url => session_path(resource_name)) do |f|
            = f.text_field :login, :autofocus => true, class: "form-control ipt-email", placeholder: "注册手机号码/邮箱"
            = f.password_field :password, class: "form-control", placeholder: "密码"
            %input.btn.btn-block.btn-wooul.btn-lg.submitbtn{:type => "submit", :value => "登入"}
            %a.pull-right.login-link{:href => new_user_registration_path} 注册新帐号  
            %a.pull-right.login-link{:href => new_password_path(resource_name) } 忘记密码?               
  .col-md-6.col-sm-6.media-area
    .login-media
      %img{:src => "http://alpha.wooul.com/system/cms/files/files/000/000/005/original/wooul-sign-media.jpg"}
      