.abtitle-sub
  %h2 借款协议
.userredemption
  %ul.nav.nav-tabs{:role => "tablist"}
    %li.active{:role => "presentation"}
      %a{"data-toggle" => "tab", :href => "#home", :role => "tab"}
        定期宝
        %span.badge 2
    %li{:role => "presentation"}
      %a{"data-toggle" => "tab", :href => "#profile", :role => "tab"}
        月月盈
        %span.badge 2
  .tab-content
    #home.tab-pane.active{:role => "tabpanel"}
      .systemnews.investTabs1
        %table.table
          %thead
            %tr
              %td{:style => "width:200px"} 名称
              %td{:style => "width:200px"} 借款人
              %td{:style => "width:200px"} 金额(￥)
              %td{:style => "width:150px"} 购买笔数
              %td{:style => "width:150px"} 担保
              %td{:style => "width:150px"} 项目协议
          %tbody
            %tr
              %td
                DQB20141101
              %td
                李铭
              %td.light-org
                1,000.00
              %td
                1
              %td
                银盛担保
              %td
                %a{:href => "#"} 借款协议
            %tr
              %td
                DQB20141101
              %td
                李铭
              %td.light-org
                1,000.00
              %td
                1
              %td
                银盛担保
              %td
                %a{:href => "#"} 借款协议
            %tr
              %td
                DQB20141101
              %td
                李铭
              %td.light-org
                1,000.00
              %td
                1
              %td
                银盛担保
              %td
                %a{:href => "#"} 借款协议
        .invest-list-frame.systemnews-fenye
          %ul.pagination
            %li
              %a{:href => "#"} 《上一页
            %li
              %a{:href => "#"} 1
            %li
              %a{:href => "#"} 2
            %li
              %a{:href => "#"} 下一页》
    #profile.tab-pane{:role => "tabpanel"}
      .systemnews.investTabs1
        %table.table
          %thead
            %tr
              %td{:style => "width:180px"} 借款时间
              %td{:style => "width:200px"} 协议编号
              %td{:style => "width:150px"} 借款人
              %td{:style => "width:250px"} 身份证号
              %td{:style => "width:180px"} 借款金额(￥)
              %td{:style => "width:180px"} 担保方
          %tbody
            %tr
              %td
                2014-11-25 06:00:54
              %td
                20141125001
              %td
                李铭
              %td
                450822199005085523
              %td.light-org
                1,000.00
              %td
                银盛支付
            %tr
              %td
                2014-11-25 06:00:54
              %td
                20141125001
              %td
                李铭
              %td
                450822199005085523
              %td.light-org
                1,000.00
              %td
                银盛支付
            %tr
              %td
                2014-11-25 06:00:54
              %td
                20141125001
              %td
                李铭
              %td
                450822199005085523
              %td.light-org
                1,000.00
              %td
                银盛支付
        .invest-list-frame.systemnews-fenye
          %ul.pagination
            %li
              %a{:href => "#"} 《上一页
            %li
              %a{:href => "#"} 1
            %li
              %a{:href => "#"} 2
            %li
              %a{:href => "#"} 下一页》

