-#- content_for :javascript_includes do
-#  = javascript_include_tag "autoinvest.js"
-#- status_dict = ["关闭中", "开启中"]
-#- button_text = ["开启自动投资", "关闭自动投资"]
-#- color_dict = ["red", "green"]
-#- input_status = [false,true]
-#- status = @delagator.status
.abtitle-sub
  %h2 自动投资
.abuser-box
  .bid-opt
    %form.forms_span
      %ul.items.row
        %li.txt.col-xs-2 自动投资状态：
        %li.col-xs-5
          %span.light-org.col-xs-3.auto_status 关闭中
          %a.btn.btn-primary.col-xs-5.auto_open 开启自动投资
      %ul.items.row
        %li.txt.col-xs-2 每月投资金额：
        %li.col-xs-9
          .input-group.col-xs-4
            %input#product_value.form-control{:autocomplete => "off", :name => "product_value", :placeholder => "500", :type => "text", :value => ""}
              %span.input-group-addon 元
          %span.col-xs-6 该数值须为不小于200元且不大于20,000元的整数
      %ul.items.row
        %li.txt.col-xs-2 最小投资金额：
        %li.col-xs-9
          .input-group.col-xs-4
            %input#product_value.form-control{:autocomplete => "off", :name => "product_value", :placeholder => "500", :type => "text", :value => ""}
              %span.input-group-addon 元
          %span.col-xs-6
            大于等于50元，小于等于每次投资金额的整数，
            设置为50可以增加您的资金利用率
      %ul.items.row
        %li.txt.col-xs-2 借款期限上限：
        %li.col-xs-9
          .input-group.col-xs-4
            %input#product_value.form-control{:autocomplete => "off", :name => "product_value", :placeholder => "2", :type => "text", :value => ""}
              %span.input-group-addon 月
          %span.col-xs-6
      %ul.items.row
        %li.txt.col-xs-2 账户保留金额：
        %li.col-xs-9
          .input-group.col-xs-4
            %input#product_value.form-control{:autocomplete => "off", :name => "product_value", :placeholder => "200", :type => "text", :value => ""}
              %span.input-group-addon 元
          %span.col-xs-6
            您可填写一个不大于可用余额的金额，这部分金
            额不会加入自动投资
  .bid-info
    %h2 自动投资工具说明
    %ul
      %li 1、自动投资工具仅适用于月月盈项目；
      %li 2、在沃银网充过值的用户可以开启自动投资；
      %li 3、月月盈项目进入投资状态十分钟后，才会启动自动投资；
      %li 4、月月盈项目投资进度超过95%之后，将停止自动投资；
      %li 5、自动投资工具会根据用户设置的每次投资金额、最小投资金额，结合用户的账户可用余额向符合设置条件的月息通项目进行投资，具体规则如下：
      %ul
        %li a、账户可用余额 < 最小投资金额，不执行自动投资；
        %li b、最小投资金额 <= 账户可用余额每次投资金额+50元，执行自动投资，投资金额为账户可用余额的整数部分；
        %li c、每次投资金额+50元 <= 账户可用余额，执行自动投资，投资金额为设定的每次投资金额。
      %li 6、用户开启此工具，并完成条件设置后，自动投资功能将在五分钟内生效；
      %li 7、单个月息通项目，单个用户至多只有一次自动投资的机会；
      %li 8、投资序列按照用户上一笔成功的自动投资时间先后进行排序。