.container
  .wrapper
    .title-sub
      %a.btn.btn-default.toback{:href => "#", :role => "button"}
        %span.glyphicon.glyphicon-chevron-left
        返回
      %h2 法律法规
    .content-post
      %h3.laws_h3 沃银网债权转让协议
      .laws_items
        .r
          %span.pdf_word
            %a{:href => "#"} 下载PDF版本
        %b.line
      .laws_text
        %p.text-right
          沃银网编号：
          %span DCBV2014912046320YL
        %p 本《沃银网债权转让协议》（“本协议”）由以下双方于2014年10月29日签订：
        %br/
        %p 甲方：
        %p 沃银网用户名： 冰冻小草
        %p 身份证号码：451567489656555
        %p 联系方式：12345678859
        %p 电子邮件：454555@qq.com
        %br/
        %p 乙方：
        %p 沃银网用户名： 效率聊会
        %p 身份证号码：451567489656555
        %p 联系方式：12345678859
        %p 电子邮件：454555@qq.com
        %br/
        %p 甲乙双方就甲方通过深圳市沃银数据服务有限公司运营管理的网络投融资平台沃银网（域名为www.wooul.com，“沃银网”）向乙方转让其合法债权事宜，双方根据平等、自愿的原则，达成协议如下：
        %br/
        %p 一、债权转让
        %p 甲方自愿将其在编号为：    【合同编号】    的合同项下通过沃银网平台发放借款形成的以下债权（“标的债权”）转让给乙方，，乙方同意按照本合同约定条件和方式受让该部分债权，债权具体信息如下：
        %br/
        .tab
          %table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
            %tbody
              %tr
                %td{:width => "229px"} 名称
                %td{:width => "138"} V14091203
                %td{:width => "149"} 预期年化收益
                %td{:width => "50"} 7.00%
                %td{:width => "70"} 十万
                %td{:width => "50"} 万
                %td{:width => "50"} 千
                %td{:width => "50"} 百
                %td{:width => "50"} 十
                %td{:width => "50px"} 元
                %td{:width => "50"} 角
                %td{:width => "50"} 分
              %tr
                %td 期初加入本金数额
                %td{:colspan => "3"} 壹仟圆整
                %td
                %td ￥
                %td 1
                %td 0
                %td 0
                %td 0
                %td 0
                %td 0
              %tr
                %td 每月分配收益数额
                %td{:colspan => "3"} 伍圆零捌角叁分
                %td
                %td
                %td
                %td
                %td ￥
                %td 5
                %td 8
                %td 3
              %tr
                %td 期末偿还本金数额
                %td{:colspan => "3"} 壹仟圆整
                %td
                %td ￥
                %td 1
                %td 0
                %td 0
                %td 0
                %td 0
                %td 0
              %tr
                %td 期末偿还收益数额
                %td{:colspan => "3"} 伍圆零捌角叁分
                %td
                %td
                %td
                %td
                %td ￥
                %td 5
                %td 8
                %td 3
              %tr
                %td 期末偿还收益数额
                %td 3个月
                %td{:colspan => "2"} 投资范围
                %td{:colspan => "8"} 由合作机构提供100%本息担保的借款项目
              %tr
                %td 收益分配方式
                %td 转至账户
                %td{:colspan => "2"} 每月还款日期
                %td{:colspan => "8"} 12日（24:00前）
        %br/
        %br/
        %p 二、债权转让流程及支付
        %p 2.1 乙方按照沃银网的规则，通过对标的债权转让需求点击“购买”按钮并点击确认订立本协议后，本协议即成立并生效。
        %p 2.2 同时，乙方对标的债权转让需求点击“购买”按钮，即不可撤销地授权沃银网公司委托其合作的第三方支付机构或监管银行等，从以沃银网公司名义开立的资金监管账户（“监管账户”）中乙方名下虚拟账户（“乙方沃银网账户”）中，将金额等同于本协议第一条所列的合计“需支付对价”的金额的款项划转至甲方名下虚拟账户（“甲方沃银网账户”）中，乙方同意上述价款扣划完成。则视为标的债权已转让成功。
        %br/
        %p 三、效力
        %p 3.1自标的债权转让成功之日起，甲方不再对标的债权享有任何权利或承担任何义务。
        %p 3.2 乙方自标的债权转让成功之日起，成为标的债权的债权人，承继甲方与标的债权借款人签订的《借款协议》（“《借款协议》”）项下出借人的全部权利并承担出借人的全部义务。如《借款协议》中约定了由第三方承担担保责任的，则乙方承继债权后自动成为被担保人。
        %p 3.3标的债权交割之前已发生但尚未支付的收益归甲方享有；交割之后标的债权的所有权、收益权等概由乙方享有。
        %br/
        %p 四、声明与保证
        %p 4.1甲方声明本协议项下标的债权系其真实、合法、有效拥有的债权，甲方对该等债权享有完全的所有权，未在标的债权上设置任何权利障碍。
        %p 4.2 乙方保证其所用于购买标的债权的资金来源合法，乙方是该资金的合法所有人，如果第三方对资金归属、合法性问题提出异议，乙方保证负责协调解决并承担相关责任，与甲方和者沃银网平台无关。如乙方未能解决，则承诺放弃使用上述资金所带来的利息等收益。
        %br/
        %p 五、其他
        %p 5.1 本协议的任何修改、补充均须以沃银网平台电子文本形式作出。
        %p 5.2 甲乙双方均确认，本协议的签订、生效和履行以不违反中国的法律法规为前提。如果本协议中的任何一条或多条违反适用的法律法规，则该条将被视为无效，但该无效条款并不影响本协议其他条款的效力。
        %p 5.3 如果甲乙双方在本协议履行过程中发生任何争议，应友好协商解决；如协商不成，则须提交有管辖权的人民法院以诉讼方式解决。
        %p 5.4 本协议双方委托沃银网公司保管所有与本协议有关的书面文件或电子信息。
        %p 5.5 本协议中所使用的定义，除非在上下文中另有定义外，应具有沃银网公布的《沃银网网站定义与释义规则》中定义的含义。