.abtitle-sub
  %h2 银行卡管理
.abuser-box.bankcard-post
  .row
    - @bankcards.each do |card|
      .col-xs-6.bankcardone
        .model-box.panel.panel-default
          .head.panel-heading
            %h3.panel-title
              = card.bankname
              %span.text-right
                %span.glyphicon.glyphicon-ok
                已绑定
          .panel-body
            %dl.dl-horizontal
              %dt 卡号
              %dd
                = card.cardid
              %dt 户名
              %dd
                = card.real_name
              %dt 开户行
              %dd
                = card.bankname
    .col-xs-6.bankcardone
      .model-box.panel.panel-default
        .head.panel-heading
          %h3.panel-title
        .panel-body
          %a.btn.btn-default.withdraw-addbank{:href => usercenter_console_add_card_path, :type => "button"}
            %span.glyphicon.glyphicon-plus-sign
            添加银行卡