.abtitle-sub
  %h2 银行卡管理
.abuser-box.bankcard-post
  .row
    .col-xs-6.bankcardone
      .model-box.panel.panel-default
        .head.panel-heading
          %h3.panel-title
            %img{:src => image_url("mout/bank-cmbc.jpg") }/
            %span.text-right
              %span.glyphicon.glyphicon-ok
              已绑定
        .panel-body
          %dl.dl-horizontal
            %dt 尾号
            %dd 2409
            %dt 户名
            %dd 雷有民
            %dt 开户行
            %dd
              招商银行深圳东滨支行
    .col-xs-6.bankcardtwo
      .model-box.panel.panel-default
        .head.panel-heading
          %h3.panel-title
        .panel-body
          %a.btn.btn-default.withdraw-addbank{:href => usercenter_console_add_card_path, :type => "button"}
            %span.glyphicon.glyphicon-plus-sign
            添加银行卡