.console-header-info
  .fun-area.pull-right
    %a{:href => "#"} 查看投资榜
  %h1.page-header 银行卡列表
  %p 您还没有进入排行榜，请再接再厉
%table
  %tr
    %th 银行名称
    %th 卡号
    %th
    %th
    %th

  - @bankcards.each do |bankcard|
    %tr
      %td= bankcard.bankname
      %td= bankcard.cardid
%br

