- content_for :javascript_includes do
  = javascript_include_tag "console.js"
.container
  .wrapper
    .title-sub
      %a.btn.btn-default.toback{:href => "#", :role => "button"}
        %span.glyphicon.glyphicon-chevron-left
        返回
      %h2 法律法规
    .content-post
      %h3.laws_h3
        沃银网债权转让协议
        %button.btn.btn-primary#jsontest
          测试
      .laws_items
        .row
          %span.pdf_word
            %a{:href => "#"} 下载PDF版本
        %b.line
      .laws_text
        %p.text-right
          沃银网编号：
          %span
            DCBV2014912046320YL