.abtitle-sub
  %h2 账户充值
  .abtitle-return
    %a.btn.btn-default.toback{:href => "#", :role => "button"} 返回
.abuser-box.accounttop-post
  %dl.dl-horizontal.accoun-selebanks
    %dt 充值金额
    %dd
      %ul.row.accountnow
        %li.col-xs-3
          .input-group
            %input#product_value.form-control.input-lg{:autocomplete => "off", :name => "product_value", :type => "text", :value => ""}
              %span.input-group-addon 元
        %li.col-xs-6
          %p 当前可用余额48.28元，充值后余额5,048.28
    %dt 充值方式
    %dd
      %ul.row
        %li.col-xs-3
          %a.btn.btn-primary.btn-lg.btn-block{:href => "#", :type => "button"} 网上银行充值
        %li.col-xs-3
          %a.btn.btn-primary.btn-block{:href => "#", :type => "button"}
            %img{:src => "images/about/bank-cmbc1.jpg"}
    %dt 选择银行
    %dd
      %ul.row.accoun-selebank
        %li.col-xs-3
          %a.btn.btn-primary.btn-block{:href => "#", :type => "button"}
            %img{:src =>  "images/about/bank-cmbc2.jpg"}
        %li.col-xs-3
          %a.btn.btn-primary.btn-block{:href => "#", :type => "button"}
            %img{:src => "images/about/bank-cmbc3.jpg"}
        %li.col-xs-3
          %a.btn.btn-primary.btn-block{:href => "#", :type => "button"}
            %img{:src => "images/about/bank-cmbc4.jpg"}
      %ul.row.accoun-selebank
        %li.col-xs-3
          %a.btn.btn-primary.btn-block{:href => "#", :type => "button"}
            %img{:src => "images/about/bank-cmbc5.jpg"}
        %li.col-xs-3
          %a.btn.btn-primary.btn-block{:href => "#", :type => "button"}
            %img{:src => "images/about/bank-cmbc6.jpg"}
        %li.col-xs-3
          %a.btn.btn-primary.btn-block{:href => "#", :type => "button"}
            %img{:src => "images/about/bank-cmbc7.jpg"}
    %dt
    %dd.submit-top
      %ul.row.accoun-selebank
        %li.col-xs-3
          %a.btn.btn-primary.btn-lg.btn-block{:href => "#", :type => "button"} 充值