%h1.page-header 充值提现
.console-product-intro.panel.panel-default
  .row

    .col-md-6.item-row
      %dl.text-center
        %dt
          %h3 账户余额
        %dt
          可用余额
          %span.badge
            ?
      %dl.text-center
        %dd
          %h3 ￥0.47
        %dd ￥0.47
    .col-md-3.col-md-offset-1
      %a.btn.btn-primary.btn-lg{:href => "#"}
        %span ￥
        充值
    .col-md-2
      %a.btn.btn-success.btn-lg{:href => "#"}
        %span ￥
        提现