.console-header-info
	.fun-area.pull-right
	%h1 产品详情(购入后)
.console-product-intro.panel.panel-default
	.panel-heading
		%p.pull-right  锁定期
		%h3.panel-title 定存宝 DAJ14I0059
	.panel-body
		%ul.row
			%li.col-md-6 
				%p.row
					%strong.col-md-6  投资额
					%span.col-md-6.text-primary ¥1,000.00 
			%li.col-md-6 
				%p.row
					%strong.col-md-6  投资额
					%span.col-md-6 ¥1,000.00 
			%li.col-md-6 
				%p.row
					%strong.col-md-6  投资额
					%span.col-md-6 ¥1,000.00 
			%li.col-md-6 
				%p.row
					%strong.col-md-6  投资额
					%span.col-md-6 ¥1,000.00 
			%li.col-md-6 
				%p.row
					%strong.col-md-6  投资额
					%span.col-md-6 ¥1,000.00 
			%li.col-md-6 
				%p.row
					%strong.col-md-6  投资额
					%span.col-md-6 ¥1,000.00 
			%li.col-md-6 
				%p.row
					%strong.col-md-6  投资额
					%span.col-md-6 ¥1,000.00 
			%li.col-md-6 
				%p.row
					%strong.col-md-6  投资额
					%span.col-md-6 ¥1,000.00 
