.console-header-info
	.fun-area.pull-right
	%h3.page-header 月月盈项目详情
.console-product-intro.panel.panel-default
	.panel-heading
		%p.pull-right  锁担保方: 北京安家世行融资担保有限公司
		%h3.panel-title 月月盈 DAJ14I0059
	.panel-body
		%ul.row
			%li.col-md-6 
				%p.row
					%strong.col-md-4 借款编号
					%strong.col-md-4  053398
					%span.col-md-4.text-primary 查看电子回单
			%li.col-md-6 
				%p.row
					%strong.col-md-4  合同编号
					%span.col-md-8
						201409022045445
						%a 查看合同
			%li.col-md-6 
				%p.row
					%strong.col-md-4  投资金额
					%span.col-md-8 ￥50
			%li.col-md-6 
				%p.row
					%strong.col-md-4  年化收益率
					%span.col-md-8 12.50%
			%li.col-md-6 
				%p.row
					%strong.col-md-4  收益支付进度
					%span.col-md-8 ¥1,000.00
			%li.col-md-6 
				%p.row
					%strong.col-md-4  FICO风险评级
					%span.col-md-8 A级
%h4.page-header	还款情况
.console-product-intro.trade-table.trade-table-min
	%table.table.trade-table-th
		%tbody
			%tr
				%th 还款日期
				%th 月收本息(￥)
				%th 剩余本息(￥)
				%th 罚息
				%th 还款状态

			%tr
				%td 2014-10-01
				%td 1.50
				%td 58.59
				%td 0
				%td 待还
			%tr
				%td 2014-10-01
				%td 1.50
				%td 58.59
				%td 0
				%td 待还




