.abtitle-sub
  %h2 我的账户
.filter-box
  %ul.row.statistics-header
    %li.col-xs-3.item-row
      %dl
        %dt 账户余额
        %dd.light-org
          ￥
          = @deposit.balance
        %dt 可用余额
        %dd
          ￥
          = @deposit.balance - @deposit.frozen_balance
    %li.col-xs-3.item-row
      %dl
        %dt
          账户总资产
          %span.badge ?
        %dd
          ￥
          = @deposit.total_estate
    %li.col-xs-3.item-row
      %dl
        %dt 账户余额
        %dd.light-org ￥1,000.00
        %dt 可用余额
        %dd ￥100.00
    %li.col-xs-3.item-row
      %dl
        %dt
          账户总资产
          %span.badge ?
        %dd ￥2,234.00


