//= require bootstrap
//= require_directory ./shared

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

 
body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {font-family: "微软雅黑"， tahoma, Arial, Microsoft YaHei, SimSun;}
 
 
$sidemenu_padding: 10px;



/* CSS Document */


.auxiliary-info{ padding: 25px 0; background:#428bca; }
.auxiliary-info .page-header{ font-weight: normal; color: #fff; margin: 0 0 20px; }
.auxiliary-info p{ color: #E6E6E6; }


.text-content{ min-height:500px;  margin: 22px 0; font-size:150%; }
.text-content p{ margin: 22px 0; line-height:180%; }