<p>你好 <%= @resource.email %>!</p>

<p>也许是您请求了在沃银网的密码重设.您可以通过点击以下链接重设您在沃银网的密码</p>

<p><%= link_to '修改我的密码', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>如果不是您发出的请求,请不要进行任何操作。</p>
<p>如果您没有访问上面的链接并修改密码，您的沃银网密码不会被修改。</p>
