.auxiliary-info
  .container
    .row
      .col-md-8
        %h1.page-header 我要投资 / 月月盈
      .col-md-4
        .fun-area
          %a.btn.btn-default.go-back{:href=> "/invests"} 返回投资首页
          = render "shared/balance"
.products-list-area
  .container
    .invest-list-frame
      %table.table
        %caption
          %h3 项目列表
          %button.btn.btn-primary.btn-xs{:type => "button"} 理财计算器
        %thead
          %tr
            %th
              项目名称
            %th
              年化收益率
            %th
              融资金额
            %th
              借款期限
            %th
              投标进度
            %th
              操作
        %tbody
          - @collection.each do |obj|
            = render 'month_deposits/list_col_browser', obj: obj
      .invest-pager-container
        .invest_pagination
          = will_paginate @collection, :container => false



