<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新手指南</title>
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/Login-Register.css">
<link rel="stylesheet" type="text/css" href="css/product.css">
<link rel="stylesheet" type="text/css" href="css/user-dqbxqy.css">
<link rel="stylesheet" type="text/css" href="css/Newbie-Guide.css">
<script src="js/jquery-1.11.1.js" ></script>
<script src="js/bootstrap.min.js" ></script>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<body>
  <div class="guide-banner"></div>
  <div class="container guide-meet">
    <div class="row">
      <div class="col-xs-6">
        <img src="images/wai/guide1.png">
      </div>
      <div class="col-xs-6">
        <h2 class="page-header">认识沃银</h2>
        <p>沃银网，中国互联网金融的实践者，专业提供安全、便捷、高效、透明的网络借贷居间撮合服务；通过沃银平台，您将手中闲余的资金借给经过层层审核的优质借款人不仅可以获得较高的利息回报，同时也可以享受理财所带来的乐趣。</p>
      </div>
    </div>
  </div>
  <div class="container guide-meet">
    <div class="guide-title">
      <h2 class="page-header text-center">沃银网的优势</h2>
    </div>
    <div class="row guid_cont">
      <div class="col-xs-6">
        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="images/wai/guide2.png">
          </a>
          <div class="media-body">
            <h4 class="media-heading"><img src="images/wai/guide-title1.png"></h4>
            沃银全力打造资金/技术/信息安全三重安全保障，用心维护每一位投资者的利益。
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="media guid_contright">
          <a class="pull-left" href="#">
            <img class="media-object" src="images/wai/guide3.png">
          </a>
          <div class="media-body">
            <h4 class="media-heading"><img src="images/wai/guide-title2.png"></h4>
            最低50元即可加入沃银理财项目，轻松享受理财乐趣。
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="images/wai/guide4.png">
          </a>
          <div class="media-body">
            <h4 class="media-heading"><img src="images/wai/guide-title3.png"></h4>
            通过投资定期宝或月月盈产品，最高可获得13%的预期年收益。
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="media guid_contright">
          <a class="pull-left" href="#">
            <img class="media-object" src="images/wai/guide5.png">
          </a>
          <div class="media-body">
            <h4 class="media-heading"><img src="images/wai/guide-title4.png"></h4>
            省去繁琐的操作程序，只需轻轻点击2步即可赎回资金。
          </div>
        </div>
      </div> 
    </div>
  </div>
  <div class="container guide-meet guide-product">
    <div class="guide-title">
      <h2 class="page-header text-center">沃银网的产品</h2>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <img src="images/wai/guide6.png">
      </div>
      <div class="col-xs-6">
        <img src="images/wai/guide7.png">
      </div>
    </div>
  </div>
  <div class="container guide-meet guide-product">
    <div class="guide-title">
      <h2 class="page-header text-center">投资流程</h2>
    </div>
    <img src="images/wai/guide8.png"> 
  </div>
  <div class="container guide-meet guide-product">
    <div class="text-center">
      <a href="#"><img src="images/wai/guide9.png"></a>
    </div>
  </div>
  
</body>
</html>
