.row
  .col-xs-6
    .lab-val
      .row.item
        .col-md-12
          %strong 个人信息
        .col-md-4.boder-color 用户ID
        .col-md-8.boder-color 683880
        .col-md-4 性别
        .col-md-8 男
        .col-md-4.boder-color 年龄
        .col-md-8.boder-color 32
        .col-md-4 学历
        .col-md-8 大专
        .col-md-4.boder-color 是否结婚
        .col-md-8.boder-color 已婚
        .col-md-4 子女状况
        .col-md-8 有
        .col-md-4.boder-color 户籍城市
        .col-md-8.boder-color 四川省南充市
        .col-md-12
          %strong 个人资产及征信信息
        .col-md-4.boder-color 月收入水平
        .col-md-8.boder-color 5000元-8000元
        .col-md-4 房产
        .col-md-8 无
        .col-md-4.boder-color 车产
        .col-md-8.boder-color 无
        .col-md-4 其他信用贷款
        .col-md-8 无
        .col-md-4.boder-color 未销户信用卡
        .col-md-8.boder-color 无
        .col-md-4 信用卡额度使用率
        .col-md-8 无信用卡
        .col-md-12
          %strong 工作信息
        .col-md-4.boder-color 工作城市
        .col-md-8.boder-color 四川省南充市
        .col-md-4 现公司工作时间
        .col-md-8 2012
        .col-md-4.boder-color 公司行业
        .col-md-8.boder-color 教育科研、医院、公共事业、金融业
        .col-md-4 公司性质
        .col-md-8 国营
        .col-md-4.boder-color 岗位
        .col-md-8.boder-color 其他基层服务岗位
  .col-xs-6
    .lab-val
      .row.item
        .col-md-12
          %strong 担保机构
        .col-md-4.boder-color 身份证
        .col-md-4.boder-color 于2014.09.11
        .col-md-4.boder-color.col-noborder 认证通过
        .col-md-4 信用报告
        .col-md-4 于2014.09.11
        .col-md-4.col-noborder 认证通过
        .col-md-4.boder-color 工作证明
        .col-md-4.boder-color 于2014.09.11
        .col-md-4.boder-color.col-noborder 认证通过
        .col-md-4 收入证明
        .col-md-4 于2014.09.11
        .col-md-4.col-noborder 认证通过
      .col-md-12.wyrecord
        %strong 沃银网借款记录
      %table.table.table-bordered
        %thead
          %tr
            %th 共计借入
            %th 待还金额
            %th 逾期金额
            %th 严重逾期
        %tbody
          %tr
            %td ￥1,700,000.00
            %td ￥1,700,000.00
            %td ￥0.00
            %td 0次
      %table.table.table-bordered
        %thead
          %tr
            %th.text-center 共计借入
            %th.text-center 待还金额
            %th.text-center 逾期金额
            %th.text-center 严重逾期
        %tbody
          %tr
            %td.text-center 1笔
            %td.text-center 1笔
            %td.text-center 0笔
            %td.text-center 0次